/*!*body {*!*/
/*!*font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;*!*/
/*!*color: #404040;*!*/
/*!*background: #2a2a2a url("../img/bg.png") 0 0 repeat;*!*/
/*!*}*!*/

/*.containerBar {*/
    /*margin: 10px auto;*/
    /*width: 440px;*/
    /*text-align: center;*/
/*}*/
/*.containerBar .progress {*/
    /*margin: 0 auto;*/
    /*width: 400px;*/
/*}*/

/*.progress {*/
    /*padding: 6px;*/
    /*background: rgba(0, 0, 0, 0.25);*/
    /*border-radius: 6px;*/
    /*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);*/
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);*/
/*}*/

/*.progress-bar {*/
    /*position: relative;*/
    /*height: 2px;*/
    /*border-radius: 4px;*/
    /*-webkit-transition: 0.4s linear;*/
    /*-moz-transition: 0.4s linear;*/
    /*-o-transition: 0.4s linear;*/
    /*transition: 0.4s linear;*/
    /*-webkit-transition-property: width, background-color;*/
    /*-moz-transition-property: width, background-color;*/
    /*-o-transition-property: width, background-color;*/
    /*transition-property: width, background-color;*/
    /*-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);*/
    /*box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);*/
/*}*/
/*.progress-bar:before, .progress-bar:after {*/
    /*content: '';*/
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
/*}*/
/*.progress-bar:before {*/
    /*bottom: 0;*/
    /*!*background: url("../img/stripes.png") 0 0 repeat;*!*/
    /*border-radius: 4px 4px 0 0;*/
/*}*/
/*.progress-bar:after {*/
    /*z-index: 2;*/
    /*bottom: 45%;*/
    /*border-radius: 4px;*/
    /*background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));*/
    /*background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));*/
    /*background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));*/
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));*/
/*}*/

/*!**/
 /** Note: using adjacent or general sibling selectors combined with*/
 /**       pseudo classes doesn't work in Safari 5.0 and Chrome 12.*/
 /**       See this article for more info and a potential fix:*/
 /**       http://css-tricks.com/webkit-sibling-bug/*/
 /**!*/
/*#five:checked ~ .progress > .progress-bar {*/
    /*width: 5%;*/
    /*background-color: #f63a0f;*/
/*}*/

/*#twentyfive:checked ~ .progress > .progress-bar {*/
    /*width: 25%;*/
    /*background-color: #f27011;*/
/*}*/

/*#fifty:checked ~ .progress > .progress-bar {*/
    /*width: 50%;*/
    /*background-color: #f2b01e;*/
/*}*/

/*#seventyfive:checked ~ .progress > .progress-bar {*/
    /*width: 75%;*/
    /*background-color: #f2d31b;*/
/*}*/

/*#onehundred:checked ~ .progress > .progress-bar {*/
    /*width: 100%;*/
    /*background-color: #86e01e;*/
/*}*/

/*.radio {*/
    /*display: none;*/
/*}*/

/*.label {*/
    /*display: inline-block;*/
    /*margin: 0 5px 5px;*/
    /*padding: 3px 8px;*/
    /*color: black;*/
    /*font-size: 14px;*/
    /*text-shadow: 0 0px black;*/
    /*border-radius: 3px;*/
    /*cursor: pointer;*/
/*}*/
/*.radio:checked + .label {*/
    /*color: white;*/
    /*background: rgba(0, 0, 0, 0.25);*/
/*}*/
