/*Резиновая верстка от prohtml.net*/

        * {
        	margin: 0;
        	padding: 0;
        }

        html-rezin {
        	height: 100%;
        }

        header-rezin, nav, section-rezin, main-rezin, article-rezin, aside-rezin, footer-rezin {
        	display: block;
        }

        body-rezin {
                height: 100%;
                width: 100%;
                background:#fefefe;
        }

        .maxw-rezin {
        	margin: 0 auto;
        	min-width: 340px;
        	max-width: 1920px;
        }

       header-rezin {
            min-width:240px;
        	width: 100%;
        	height: 100px;
        	/*background: #74C9FF;*/
        }

      #wrapper {
                position: relative;
                margin: 0 auto;
          padding-left: -20%;
                height: auto !important;
                height: 100%;
                min-height: 100%;
                padding:5px 0;
          /*background-color: #1b6d85;*/
        }

         .section-rezin {
        	width: 120%;
             margin-left: 1%;
        	padding: 0 0 100px;
        	position: relative;
             /*background-color: olive;*/
        }

          .section-rezin:after {
        	content: '';
        	clear: both;
        	display: table;
        }

        .mainwrap-rezin {
        	width: 100%;
        	float: left;
        	overflow: hidden;
        }

        main-rezin {
        	/*padding: 0 240px 0 240px;*/
            /*padding-left: 80%;*/
            max-width: 100%;
        	min-height: 450px;
            margin-left:10%;
            /*background:red;*/
        }

        article-rezin {
            /*padding-left: 50%;*/
            padding:0 5px;
            margin:0 5px;
            margin-left: -35%;
            background:#EAF2F5;
            min-height: 260px;
            max-width: 100%;
        }

                    #s_left {
                    	float: left;
                        margin-top: 1.8%;
                    	width: 2%;
                    	margin-left: -140%;
                        left:0;
                    	position: relative;
                    	/*background: #E88139;*/
                    	min-height: 350px;
                    }


                    #s_right {
                        float: right;
                        margin-top: 2%;
                        margin-bottom: 2%;
                        width: 75%;
                        margin-right: -24.5%;
                        margin-left: 1%;
                        right:0;
                        position: absolute;
                        /*background: black;*/
                        min-height: 450px;
                        /*height: auto !important;*/
                    }

                    #s_center {
                        float: left;
                        margin-top: 2%;
                        margin-bottom: 2%;
                        width: 75%;
                        margin-left: 0%;
                        margin-right: 1%;
                        left:0;
                        position: absolute;
                        background: #E88139;
                        min-height: 450px;
                    }

              footer-rezin {
        	/*margin: auto;*/
                  margin-left: -20%;
        	width: 50%;
            min-width:240px;
        	min-height: 500px;
        	background: #AFBFC6;
        	position: relative;
        }

/* Для отображения на устройствах меньше 980px*/
        @media screen and (min-width:240px) and (max-width:479px) {

                main-rezin {
                        padding:10px;
                    }

                     #s_left {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        left: 0;
                    }

                    #s_right {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        right: 0;
                    }
                    #s_center {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        left: 0;
                    }
        }

        @media screen and (min-width:480px) and (max-width:799px) {

                main-rezin {
                        padding:10px;
                    }

                     #s_left {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        left: 0;
                    }

                    #s_right {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        right: 0;
                    }
                    #s_center {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        left: 0;
                    }
        }

        @media screen and (min-width:800px) and (max-width:979px) {

                main-rezin {
                        padding:10px;
                    }

                     #s_left {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        left: 0;
                    }

                    #s_right {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        right: 0;
                    }
                    #s_center {
                        padding: 0;
                        margin: 0 auto;
                        float: none;
                        clear: both;
                        left: 0;
                    }
        }



/*#page-wrap		    { width: 600px; margin: 0 auto; }*/

/*table               { border-collapse: collapse; width: 100%; margin-top: 109px; }*/
/*td                  { border: 1px solid #ccc; padding: 10px; }*/

/*thead               { width: 70%; position: fixed; fixed: 109px; top: 0;*/
    /*background: url(../images/header.png) no-repeat; }*/

/*.slim               { width: 88px; }*/
/*.hover              { background-color: #eee; }*/