.table_blur {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
}
.table_blur th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#363636, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
}
.table_blur th:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
    background: #ebf3f9;
}
.table_blur th:first-child {
    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative; top: 10px;
    transition: all 0.5s ease;
    margin-inside: 0px;
    margin-outside: 0px;
}
.table_blur tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
    color: #444444;
    text-shadow: none;
}



/***********************************************/
.table_blur1 {
    background: #f5ffff;
    /*border-collapse: collapse;*/
    text-align: left;
    table-layout: fixed;
    overflow-x:hidden;
}
.table_blur1 th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#363636, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
    table-layout: fixed;
}
.table_blur1 th:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
    table-layout: fixed;
    /*opacity: 1;*/

    /*background: rgba(255, 255, 255, 0);*/
}
.table_blur1 tr:nth-child(odd) {
    background: #ebf3f9;
    table-layout: fixed;
}
.table_blur1 th:first-child {
    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
    table-layout: fixed;
}
.table_blur1 th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
    table-layout: fixed;
}
.table_blur1 td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative; top: 10px;
    /*transition: all 0.5s ease;*/
    margin-inside: 0px;
    margin-outside: 0px;
    table-layout: fixed;
}
.table_blur1 tbody:hover td {
    /*color: transparent;*/
    /*text-shadow: 0 0 3px #a09f9d;*/
}
.table_blur1 tbody:hover tr:hover td {
    color: #444444;
    /*text-shadow: none;*/
}
