@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css);



  .accordion {
    color: #FFF;
    width: 100%;
  }

  .accordion .section {
    width: 100%;
  }

  .accordion .section input[type='radio'] {
    display: none;
  }

  .accordion .section input[type='radio']:checked + label {
    background: #363636;
  }

  .accordion .section input[type='radio']:checked + label:before {
    content: " ";
    position: absolute;
    border-left: 3px solid #21CCFC;
    height: 100%;
    left: 0;
  }

  .accordion .section input[type='radio']:checked ~ .content {
    max-height: 300px;
    opacity: 1;
    z-index: 10;
    overflow-y: auto;
  }

  .accordion .section label {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    display: table;
    background: #222;
    width: 100%;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .accordion .section label:before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    border-top: 1px solid #363636;
  }

  .accordion .section label:hover {
    background: #363636;
  }

  .accordion .section label span {
    display: table-cell;
    vertical-align: middle;
  }

  .accordion .section:last-of-type {
    border-bottom: 1px solid #363636;
  }

  .accordion .section .content {
    max-height: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    position: relative;
    overflow-y: hidden;
  }

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    /*background: #666;*/
    font-family: 'Quicksand', sans-serif;
  }

  .left-menu {
    background: #222;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .accordion {
    font-size: 14px;
  }

  .accordion .section .content {
    padding: 0 15px;
  }

  .accordion .section input[type='radio'] {
    display: none;
  }

  .accordion .section input[type='radio']:checked ~ .content {
    padding: 15px;
  }

  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul li {
    padding: 10px;
  }

  ul li i {
    font-size: 13px;
    width: 15px;
    margin-right: 15px;
  }

  ul li:hover {
    cursor: pointer;
  }

  ul li:hover i {
    color: #21CCFC;
  }

  .logo {
    padding: 30px 10px;
    width: 200px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
  }

  .logo i {
    font-size: 70px;
    color: #21CCFC;
  }

  .icon-3em {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-size: auto 100%;
    vertical-align: middle;
  }

  .icon-2em {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: auto 100%;
    vertical-align: middle;
  }

  .generalGraph {
    font-size: 0px;
    padding: 0 calc(5vw - 17px);

  }

  .contentGraph {
    background: #ccc;
    width: 20vw;
    height: 20vw;
    display: inline-block;
    margin: 0 5vw;
    margin-top: calc(40vh - 10vw);
  }

  .containerGraph {
    position: absolute;
    width: 100%;
  }

  .rightGraph {
    position: absolute;
    right: -230px;
    width: 300px;
    margin: 40px auto;
    /*background-color:#b0e0e6;*/
  }

  .leftGraph {
    position: absolute;
    left: -250px;
    /*right: -300px;*/
    /*clear: both;*/
    width:300px;
    /*left: 50%;*/
    /*right: 75%;*/
    margin-top: 60px;
    /*margin-bottom: 10px;*/
    /*margin-right: 20px;*/
    /*margin-left: 100px;*/
    /*background-color:#b0e0e6;*/
  }

  .iconPM {

    animation: blink 2s ease-in infinite;
  }

  @keyframes blink {
    from, to {
      opacity: 1
    }
    50% {
      opacity: 0
    }
  }

  .deepLeftpos {
    position: relative;
    left: -250px;
  }

  .hudmGraphPos {
    position: absolute;
    right: -250px;
  }

  div.page-container {
    max-width: 75%;
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
  }

  div.page-container-inner {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
  }



