<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" href="logCss.css">-->
<!--<span ng-if="$ctrl.scope.globalVars.language == 'Russian'">Logtable: {{$ctrl.logtable}}</span>-->
<br>
<!--<span ng-if="$ctrl.scope.globalVars.language == 'Russian'">Logtable: {{$ctrl.data}}</span>-->
<!--<span ng-if="$ctrl.scope.globalVars.language == 'Russian'">Logtable: {{$ctrl.tableParams}}</span>-->


<head>
    <meta charset="UTF-8">
    <!--Russian template-->
    <div style="margin-bottom: 23px; font-size: 13px; font-weight: 900;">
        <label style="" class="checkbox-inline"  ng-repeat="col in showCol">
            <input id="{{$index}}" type="checkbox" ng-model="col.show">{{col.title}}
            <label style="padding-left: 10%; padding-bottom: 20px;" for="{{$index}}" ></label>
        </label>
    </div>

    <!--<div ng-if="globalVars.sensorsFinal.length != 0">-->
        <!--<log-table logtable = 'ctrl.globalVars.sensorsFinal', data = 'ctrl.scope.globalVars.broodLog', tableParams = 'ctrl.scope.tableParams', photo = 'ctrl.photo', scope = 'ctrl.scope'></log-table>-->
    <!--</div>-->
    <span ng-if="$ctrl.scope.globalVars.language == 'Russian'">
        <table  ng-table='$ctrl.scope.tableParams' class="table table-condensed table-bordered table-hover" show-filter="true">
            <tr style="text-align: center;" ng-repeat="u in $data">
                <td style="min-width: 50px" title="'Имя / ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"  sortable='"Name"' filter="{ 'Name': 'text' }">{{u.Name }}{{u.Type}}
                </td>
                <td ng-if="showCol[0].show" title='"Главный прибор"'  sortable='"Master_ID"' filter="{ 'Master_ID': 'text' }"  filter="{ 'Master_ID': 'text' }">{{u.Master_ID }}
                </td>
                <td ng-if="showCol[1].show"  title='"&nbsp;&nbsp;Узел&nbsp;&nbsp;"' ng-if="col.show" sortable='"Slave_ID"' filter="{ 'Slave_ID': 'text' }">{{u.Slave_ID }}
                </td>
                <td ng-if="showCol[2].show"  title='"Значение"' sortable='"Value"'>{{u.Value }}
                </td>
                <td title='"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Дата&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"' sortable='"Date"' filter="{ 'Date': 'text' }" >{{u.Date }}
                </td>
                <td  title='"&nbsp;&nbsp;&nbsp;Время&nbsp;&nbsp;&nbsp;"' sortable='"Time"' filter="{ 'Time': 'text' }">{{u.Time }}
                </td>
                <td ng-if="showCol[3].show" title='"Событие"' sortable='"Event"'>{{u.Event }}
                </td>
                <td ng-if="showCol[4].show" title='"Мин. порог"' sortable='"Lower_Value"'>{{u.Lower_Value }}
                </td>
                <td ng-if="showCol[5].show" title='"Макс. порог"' sortable='"Upper_Value"'>{{u.Upper_Value }}
                </td>
            </tr>
        </table>
    </span>
    <span ng-if="$ctrl.scope.globalVars.language == 'English'">
        <table  ng-table='$ctrl.scope.tableParams' class="table table-condensed table-bordered table-hover" show-filter="true">
            <tr style="text-align: center;" ng-repeat="u in $data">
                <td style="min-width: 50px" title="'Name / ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"  sortable='"Name"' filter="{ 'Name': 'text' }">{{u.Name }}{{u.Type}}
                </td>
                <td ng-if="showCol[0].show" title='"M.device"'  sortable='"Master_ID"' filter="{ 'Master_ID': 'text' }"  filter="{ 'Master_ID': 'text' }">{{u.Master_ID }}
                </td>
                <td ng-if="showCol[1].show"  title='"&nbsp;&nbsp;Node&nbsp;&nbsp;"' ng-if="col.show" sortable='"Slave_ID"' filter="{ 'Slave_ID': 'text' }">{{u.Slave_ID }}
                </td>
                <td ng-if="showCol[2].show"  title='"Value"' sortable='"Value"'>{{u.Value }}
                </td>
                <td title='"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"' sortable='"Date"' filter="{ 'Date': 'text' }" >{{u.Date }}
                </td>
                <td  title='"&nbsp;&nbsp;&nbsp;Time&nbsp;&nbsp;&nbsp;"' sortable='"Time"' filter="{ 'Time': 'text' }">{{u.Time }}
                </td>
                <td ng-if="showCol[3].show" title='"Event"' sortable='"Event"'>{{u.Event }}
                </td>
                <td ng-if="showCol[4].show" title='"Min.tresh"' sortable='"Lower_Value"'>{{u.Lower_Value }}
                </td>
                <td ng-if="showCol[5].show" title='"Max.tresh"' sortable='"Upper_Value"'>{{u.Upper_Value }}
                </td>
            </tr>
        </table>
    </span>

</head>
<body>

</body>
</html>