<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" href="logCss.css">-->
<!--<span ng-if="$ctrl.scope.globalVars.language == 'Russian'">Logtable: {{$ctrl.logtable}}</span>-->
<br>
<!--<span ng-if="$ctrl.scope.globalVars.language == 'Russian'">Logtable: {{$ctrl.data}}</span>-->
<!--<span ng-if="$ctrl.scope.globalVars.language == 'Russian'">Logtable: {{$ctrl.tableParams}}</span>-->


<head>
    <meta charset="UTF-8">
    <span ng-if="globalVars.language == 'Russian'">
        <div ng-click="ProcessInputName(globalVars.logdataStart, globalVars.logdataEnd, globalVars.logdataType, 'logData')">
            <button> Загрузить!</button>
        </div>
        <input  id="datetime-start" type="datetime-local" value="2012-12-12T00:00"  ng-model="globalVars.logdataStart">
        <label  for="datetime-start">Начало запроса</label>
        <br>
        <input id="datetime-end" type="datetime-local" value="2012-12-12T00:00"  ng-model="globalVars.logdataEnd">
        <label for="datetime-end">Конец запроса</label>
        <br>
        <br>
        <input ng-checked="globalVars.logdataType.ds18b20" ng-model="globalVars.logdataType.ds18b20" type="checkbox" id="logdataTypeT">
        <label for="logdataTypeT">Лог датчиков температуры</label>
        <input ng-checked="globalVars.logdataType.H" ng-model="globalVars.logdataType.H" type="checkbox" id="logdataTypeH">
        <label for="logdataTypeH">Лог датчиков влажности</label>
        <input ng-checked="globalVars.logdataType.R" ng-model="globalVars.logdataType.R" type="checkbox" id="logdataTypeR">
        <label for="logdataTypeR">Лог реле</label>
    </span>
    <span ng-if="globalVars.language == 'English'">
        <div ng-click="ProcessInputName(globalVars.logdataStart, globalVars.logdataEnd, globalVars.logdataType, 'logData')">
            <button> Load!</button>
        </div>
        <input  id="datetime-start1" type="datetime-local" value="2012-12-12T00:00"  ng-model="globalVars.logdataStart">
        <label  for="datetime-start1">From</label>
        <br>
        <input id="datetime-end1" type="datetime-local" value="2012-12-12T00:00"  ng-model="globalVars.logdataEnd">
        <label for="datetime-end1">To</label>
        <br>
        <br>
        <input ng-checked="globalVars.logdataType.ds18b20" ng-model="globalVars.logdataType.ds18b20" type="checkbox" id="logdataTypeT1">
        <label for="logdataTypeT1">Temp. log</label>
        <input ng-checked="globalVars.logdataType.H" ng-model="globalVars.logdataType.H" type="checkbox" id="logdataTypeH1">
        <label for="logdataTypeH1">Hudm. log</label>
        <input ng-checked="globalVars.logdataType.R" ng-model="globalVars.logdataType.R" type="checkbox" id="logdataTypeR1">
        <label for="logdataTypeR1">Relays log</label>
    </span>


</head>
<body>

</body>
</html>