<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PageHeader</title>
    <div ng-if="globalVars.language=='Russian'">Датчики </div>
    <div ng-if="globalVars.language=='English'">Sensors </div>
</head>
<body>

</body>
</html>