<!DOCTYPE html>


    <head>
        <meta charset="utf-8">
        <title>
            SidebarLeftSensors
        </title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--<link rel="stylesheet" href="pure-css-accordion-nav/css/style.css" type="text/css">-->

        <!--<link rel="stylesheet" href="css/checkbox.css">-->
        <!--<link rel="stylesheet" type="text/css" href="pure-css-accordion-nav/css/loading-bar/loading-bar.css"/>-->
        <!--<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">-->
        <!--<script type="text/javascript" src="pure-css-accordion-nav/css/loading-bar/loading-bar.js"></script>-->




        <div >

            <div style="height: 30px; width: 100%; border: 1px solid; border-color: #0aaaf1; text-align: center; "> Датчики</div>

            <!--sensors menu component START-->
            <div style="height: auto; width: 20%; float: left; border: 1px solid;   text-align: center; ">
                <!--sensors menu component-->
                <div ng-if="!globalVars.ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'float', top: '20px', left: '93.7%', display: 'inline-block',verticalAlign: 'top'}" >
                    <!--<div ng-if="!globalVars.ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'relative', top: '20px', left: '93.7%', display: 'inline-block',verticalAlign: 'top'}" >-->
                    <table class="table_blur";>
                        <tr>
                            <td style="text-align: center;  padding-bottom: 20px;">
                                <img  ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding-bottom: 20px;">
                                <img  ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowHudmData')" ng-style="ImgHudmOpacity" ng-init="ShowHudmData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding-bottom: 20px;">
                                <img  ng-mouseenter="ImgSlaveOpacity = {'opacity':'1'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowSlaveData')" ng-style="ImgSlaveOpacity" ng-init="ShowSlaveData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-if="globalVars.ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'float', top: '20px', left: '93.7%', display: 'inline-block',verticalAlign: 'top'}" >
                    <!--<div ng-if="!globalVars.ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'relative', top: '20px', left: '93.7%', display: 'inline-block',verticalAlign: 'top'}" >-->
                    <table class="table_blur";>
                        <tr>
                            <td style="text-align: center;  padding-bottom: 20px;">
                                <img  ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding-bottom: 20px;">
                                <img  ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowHudmData')" ng-style="ImgHudmOpacity" ng-init="ShowHudmData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding-bottom: 20px;">
                                <img  ng-mouseenter="ImgSlaveOpacity = {'opacity':'1'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowSlaveData')" ng-style="ImgSlaveOpacity" ng-init="ShowSlaveData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>
                            </td>
                        </tr>
                    </table>
                </div>

                <!--<div ng-class="NgAnimateClass" ng-if="globalVars.ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'float', top: '20px', left: '70%', display: 'inline-block',verticalAlign: 'top'}" >-->
                    <!--<table class="table_blur";>-->
                        <!--<tr ng-if="ShowTempData">-->
                            <!--<td ng-if="ShowTempData" style="text-align: center;  padding-bottom: 20px;">-->
                                <!--<img ng-init="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-mouseenter="ImgTempOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="!ShowTempData">-->
                            <!--<td ng-if="!ShowTempData" style="text-align: center;  padding-bottom: 20px;">-->
                                <!--<img ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="ShowHudmData">-->
                            <!--<td ng-if="ShowHudmData" style="text-align: center;  padding-bottom: 20px;">-->
                                <!--<img ng-init="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseenter="ImgHudmOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="!ShowHudmData">-->
                            <!--<td ng-if="!ShowHudmData" style="text-align: center;  padding-bottom: 20px;">-->
                                <!--<img ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowHudmData')" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<tr ng-if="ShowSlaveData">-->
                            <!--<td ng-if="ShowSlaveData" style="text-align: center;  padding-bottom: 20px;">-->
                                <!--<img ng-init="ImgSlaveOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseenter="ImgSlaveOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-style="ImgSlaveOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="!ShowSlaveData">-->
                            <!--<td ng-if="!ShowSlaveData" style="text-align: center;  padding-bottom: 20px;">-->
                                <!--<img ng-mouseenter="ImgSlaveOpacity = {'opacity':'1'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowSlaveData')" ng-style="ImgSlaveOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                <!--<i ng-mouseenter="ImgCloseMenuOpacity = {'opacity':'1'}; NgAnimateClass = ''" ng-mouseleave="ImgCloseMenuOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowSenMenu'); globalVars.ClickEvents.sensorsClickMenu = false;" ng-style="ImgCloseMenuOpacity" class="fa fa-arrow-circle-o-down  fa-3x fa-rotate-270" aria-hidden="true"></i>-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
            </div>
            <!--sensors menu component END-->

            <!--sensors component START-->
            <div  style="margin-left: 20%; border: 1px solid; min-height: 300px; height: 100%; border-color: #0aaaf1; position: relative; text-align: center; ">
                <div class="scrollable">
                    <div class="scrollable-content">
                        <!--sensors component-->
                        <div>
                            <table class="table_blur";>
                                <tr ng-repeat="sensor in globalVars.sensorsFinal">
                                    <span ng-if="updateFlag"  ng-bind="updateDataEvent()"></span>
                                    <!--HUDMUNITY-->
                                    <td ng-if="sensor.Type=='H' && sensor.ClickShowHudmData && !sensor.ClickShowTempData" ng-mouseenter="sensor.showMousenterIcons = true" ng-mouseleave="sensor.showMousenterIcons = false" style="line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; padding-bottom: -100pt;"></i>
                                        <!--value-->
                                        <div ng-init="globalVars.ClickEvents.sensorsClickMenu = true" style="font-size: 18pt; line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; min-width: 170px;">
                                            <!--status icons-->
                                            <span ng-if="sensor.Status=='OK'"  style="text-align: center; font-weight: bold;"><img class="icon-1em" src="pure-css-accordion-nav/css/icon-ok-64.png">{{sensor.Value}} % </span>
                                            <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')"  style="text-align: center; font-weight: bold;"><img class="icon-2em" ng-class='{"iconPM": sensor.WarnBlink}' src="pure-css-accordion-nav/css/icon-warning-64.png">{{sensor.Value}} %</span>
                                            <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')" style="font-weight: bold;"> </span>
                                            <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="text-align: center; font-weight: bold;" ng-class='{"iconPM": sensor.ErrBlink}'><img class="icon-0em" src="pure-css-accordion-nav/css/icon-error-64.png"></span>
                                            <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="font-weight: bold;"> {{sensor.Value}} %</span>
                                            <span ng-show="sensor.showMousenterIcons && !sensor.ShowAddInfo" style="position: absolute; align-content: center; top: 65%;">
                                                <span ng-if="sensor.ArrowEnter == undefined">
                                                    <span ng-init="sensor.ArrowEnter = {'opacity':'0.3'}"></span>
                                                </span>
                                                <i ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8'}" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3'}" ng-click="sensor.ShowAddInfo = true; sensor.ArrowEnter={'opacity':'0.3', 'paddingTop':'0px'}" ng-style="sensor.ArrowEnter"  style="transition-timing-function: ease-out;" class="fa fa-arrow-circle-o-down  fa-1x" aria-hidden="true"></i>
                                            </span>
                                            <!--upTime-->
                                            <sup style="font-size: 8pt; text-align: right; margin-top: 10px; float: right;">{{sensor.Time}}</sup>
                                            <!---->
                                            <!--Name block-->
                                            <br style="text-align: left; margin-top: 0px; line-height: 1em;">
                                            <!--Date-->
                                            <sup style="font-size: 8pt; text-align: right; position: absolute; left: 75%; float: right; top: 13%;">{{sensor.Date}}</sup>
                                            <!---->
                                            <!--Name input-->
                                            <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length < 15" style="position: relative; left: 0px; top: 0pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 14pt;">
                                                {{sensor.Name}}
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length > 15" style="position: relative; left: 0px; top: 0pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 12pt;">
                                                {{sensor.Name}}
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length < 15" style="position: relative; left: 3px; top: 8pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 14pt;">
                                                {{sensor.Name}}
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length > 15" style="position: relative; left: 3px; top: 8pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 12pt;">
                                                {{sensor.Name}}
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; left: 15px; top: 50px; padding-bottom: 0pt; padding-top: 0pt;">
                                                <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'SensorName')" type="text" style="height:23px; font-size: 17px; width: 160px" placeholder="{{sensor.Name}}" size="4" maxlength="16" ng-model="sensorUserName">
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true" ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 3px; left: 0px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                                <span ng-show="sensor.showMousenterIcons" style="opacity: 1;">
                                                    <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                </span>
                                                <span ng-show="!sensor.showMousenterIcons" style="opacity: 0;">
                                                    <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                </span>
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true" ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 12px; left: 0px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                                <span ng-show="sensor.showMousenterIcons" style="opacity: 1;">
                                                    <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                </span>
                                                <span ng-show="!sensor.showMousenterIcons" style="opacity: 0;">
                                                    <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                </span>
                                             </span>
                                            <div ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; top: 53px; left: 187px;">
                                                <i  ng-click="ProcessInputName($index, 'undefined', $event, 'SensorName')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                <i  ng-click="sensor.ClickSensorsBtnName = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                            </div>
                                            <!---->
                                            </br>
                                            <br>
                                            <div class="animate-if" ng-if="sensor.Type=='H' && sensor.ShowAddInfo" style="font-size: 11pt; color: #204d74; position: relative; line-height: 0em;" >
                                                <form ng-hide="!sensor.ShowAddInfo" style="line-height: 0em; margin: 0%; padding: 0%; margin-outside: 0pt;">
                                                    <!--Путь-->
                                                    <span  style="font-size: 9pt; color: #a09f9d; position: absolute; bottom: 63px;">Путь: {{sensor.Master_ID}} / {{sensor.Slave_ID}}  / {{sensor.Address}}</span>
                                                    <span ng-show="sensor.ShowAddInfo"  style="font-size: 11pt; color: #204d74; line-height: 1em; text-align: left;">
                                                         Мин. тревога:&#160
                                                    </span>
                                                    <span ng-show="sensor.ShowAddInfo" ng-if="sensor.ClickSensorsBtnLowerValue != true" style="position: relative; left: 2px;">
                                                        {{sensor.Lower_Value}}&#160% &#160
                                                    </span>
                                                    <span ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: absolute; left: 102px; top: -1px;">
                                                        <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'LowerValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Lower_Value}}" size="4" maxlength="4" ng-model="sensorUserName">
                                                        <span style="position: relative; bottom: 0px; left: -5px;"> &#160 %</span>
                                                    </span>
                                                    <div ng-if="sensor.ClickSensorsBtnLowerValue != true" ng-click="ProcessSensorsBtn($index, 'LowerValue')" style="width: 10%; position: relative; top: -13px; left: 178px; padding: 0px; margin: 0px;">
                                            <span ng-show="sensor.showMousenterIcons" style="opacity: 1;">
                                                <i class="fa  fa-pencil-square-o fa-1x"></i>
                                            </span>
                                                        <span ng-show="!sensor.showMousenterIcons" style="opacity: 0;">
                                            <i class="fa  fa-pencil-square-o fa-1x"></i>
                                            </span>
                                                    </div>
                                                    <div ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: relative; top: -13px; left: 178px;">
                                                        <i  ng-click="ProcessInputName($index, 'undefined', $event, 'LowerValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                        <i  ng-click="sensor.ClickSensorsBtnLowerValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                    </div>
                                                    <br>
                                                    <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px;">
                                                    Макс. тревога:
                                                </span>
                                                    <span ng-if="sensor.ClickSensorsBtnUpperValue != true" style="position: relative; top: -6px;">
                                                    {{sensor.Upper_Value}}&#160% &#160
                                                </span>
                                                    <span ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: absolute; top: 15px; left: 102px; padding: 0px; margin: 0px; ">
                                                    <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'UpperValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Upper_Value}}" size="4" maxlength="4" ng-model="sensorUserName">
                                                    <span style="position: relative; bottom: 0px; left: -5px;"> &#160 %</span>
                                                </span>
                                                    <div ng-if="sensor.ClickSensorsBtnUpperValue != true" ng-click="ProcessSensorsBtn($index, 'UpperValue')" style="position: relative; top: -11px; left: 178px; width: 10%; clear: both; padding: 0px; margin-outside: 0px; margin: 0; padding-right: 0px; padding-left: 0px;">
                                            <span ng-show="sensor.showMousenterIcons" style="opacity: 1;">
                                                <i class="fa  fa-pencil-square-o fa-1x"></i>
                                            </span>
                                                        <span ng-show="!sensor.showMousenterIcons" style="opacity: 0;">
                                                <i class="fa  fa-pencil-square-o fa-1x"></i>
                                            </span>
                                                    </div>
                                                    <div ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: relative; top: -11px; left: 178px;">
                                                        <i  ng-click="ProcessInputName($index, 'undefined', $event, 'UpperValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                        <i  ng-click="sensor.ClickSensorsBtnUpperValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                    </div>
                                                    </br>
                                                    <br style="line-height: 0em;">
                                                    <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px; padding-bottom: -20pt;">
                                                    Предупреждение:
                                                </span>
                                                    <span ng-if="sensor.ClickSensorsBtnDelta != true" style="position: relative; top: -6px; padding-bottom: -20pt; line-height: 0em;">
                                                    {{sensor.Delta}}&#160% &#160
                                                </span>
                                                    <span ng-if="sensor.ClickSensorsBtnDelta == true" style="position: absolute; top: 31px; left: 125px; padding: 0px; margin: 0px;">
                                                    <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'Delta')" type="text" style="height:16px; font-size: 15px; width: 15px; maxlength: 1;" placeholder="{{sensor.Delta}}" size="1" maxlength="1" ng-model="sensorUserName">
                                                    <span style="position: relative; bottom: 0px; left: -8px;"> &#160 %</span>
                                                </span>
                                                    <div ng-if="sensor.ClickSensorsBtnDelta != true" ng-click="ProcessSensorsBtn($index, 'Delta')" style="position: relative; top: -11px; left: 178px; width: 10%; padding-bottom: -20pt; line-height: 0em;">
                                            <span ng-show="sensor.showMousenterIcons" style="opacity: 1;">
                                                <i class="fa  fa-pencil-square-o fa-1x"></i>
                                            </span>
                                                        <span ng-show="!sensor.showMousenterIcons" style="opacity: 0;">
                                                <i class="fa  fa-pencil-square-o fa-1x"></i>
                                            </span>
                                                    </div>
                                                    <div ng-if="sensor.ClickSensorsBtnDelta == true" style="position: relative; top: -11px; left: 178px;">
                                                        <i  ng-click="ProcessInputName($index, 'undefined', $event, 'Delta')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                        <i  ng-click="sensor.ClickSensorsBtnDelta = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                    </div>
                                                    <span ng-show="sensor.showMousenterIcons" style="position: absolute; top: 80%; left: 50%; font-size: 16pt;">
                                            <i ng-if="sensor.ClickSensorsBtnName != true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8'}" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3'}" ng-click="sensor.ShowAddInfo = false; sensor.showMousenterIcons = false; sensor.ArrowEnter={'opacity':'0.3', 'paddingTop':'0px'}" ng-style="sensor.ArrowEnter"  style="transition-timing-function: ease-out;" class="fa fa-arrow-circle-o-down  fa-1x fa-rotate-180" aria-hidden="true"></i>
                                        </span>
                                                </form>
                                            </div>
                                            </br>
                                        </div>
                                    </td>
                                    <!--18b20Sensor-->
                                    <span>
                            <td ng-if="sensor.Type == 'ds18b20' && sensor.ClickShowTempData && !sensor.ClickShowHudmData" ng-mouseenter="sensor.showMousenterIcons = true" ng-mouseleave="sensor.showMousenterIcons = false"  style="line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; padding-bottom: -100pt;"></i>
                                <!--value-->
                                <div ng-init="globalVars.ClickEvents.sensorsClickMenu = true" style="font-size: 18pt; line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; min-width: 230px;">
                                    <!--status icons-->
                                    <span ng-if="sensor.Status=='OK'"  style="text-align: center; font-weight: bold;"><img class="icon-2em" src="pure-css-accordion-nav/css/icon-ok-64.png">{{sensor.Value}} &#8451 &#160&#160&#160&#160&#160</span>
                                    <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')"  style="text-align: center; font-weight: bold;"><img class="icon-2em" ng-class='{"iconPM": sensor.WarnBlink}' src="pure-css-accordion-nav/css/icon-warning-64.png">{{sensor.Value}} &#8451</span>
                                    <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')"></span>
                                    <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="text-align: center; font-weight: bold;" ng-class='{"iconPM": sensor.ErrBlink}'><img class="icon-2em" src="pure-css-accordion-nav/css/icon-error-64.png"></span>
                                    <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="text-align: center; font-weight: bold;"> {{sensor.Value}} &#8451</span>
                                    <span ng-show="sensor.showMousenterIcons && !sensor.ShowAddInfo" style="position: absolute;  align-content: center; top: 65%; right: 42%;">
                                         <span ng-if="sensor.ArrowEnter == undefined">
                                            <span ng-init="sensor.ArrowEnter = {'opacity':'0.1'}"></span>
                                        </span>
                                         <i ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8'}" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3'}" ng-click="sensor.ShowAddInfo = true; sensor.ArrowEnter={'opacity':'0.3', 'paddingTop':'0px'}" ng-style="sensor.ArrowEnter"  style=" " class="fa fa-arrow-circle-o-down  fa-1x" aria-hidden="true"></i>
                                    </span>
                                    <!--upTime-->
                                    <!--<sup style="font-size: 8pt; text-align: right; margin-top: 10px; float: right;">{{sensor.Time}}</sup>-->
                                    <sup style="font-size: 8pt; text-align: right; position: absolute; left: 80%; top: 4%;">{{sensor.Time}}</sup>
                                    <!---->
                                    <!--Name block-->
                                    <br style="text-align: left; margin-top: 0px; line-height: 1em;">
                                    <!--Date-->
                                    <sup style="font-size: 8pt; text-align: right; position: absolute; left: 75%; top: 13%;">{{sensor.Date}}</sup>
                                    <!---->
                                    <!--Name input-->
                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length < 15" ng-style="{position: 'relative', left:'3px', top: '0px', fontSize: '14pt'}" >
                                        {{sensor.Name}}
                                    </span>
                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length > 15" ng-style="{position: 'relative', left:'3px', top: '0px', fontSize: '12pt'}" >
                                        {{sensor.Name}}
                                    </span>
                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length < 15" ng-style="{position: 'relative', left:'3px', top: '8pt', fontSize: '14pt'}" >
                                        {{sensor.Name}}
                                    </span>
                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length > 15" ng-style="{position: 'relative', left:'3px', top: '8pt', fontSize: '12pt'}" >
                                        {{sensor.Name}}
                                    </span>
                                    <span ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; left: 15px; top: 50px; padding-bottom: 0pt; padding-top: 0pt;">
                                        <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'SensorName')" type="text" style="height:23px; font-size: 17px; width: 160px" placeholder="{{sensor.Name}}" size="4" maxlength="16" ng-model="sensorUserName">
                                    </span>
                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true"  ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 2px; left: 3px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                        <span ng-if="sensor.showMousenterIcons">
                                             <i class="fa  fa-pencil-square-o fa-1x"></i>
                                        </span>
                                    </span>
                                    <span  ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true" ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 11px; left: 0px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                       <span ng-if="sensor.showMousenterIcons">
                                            <i class="fa  fa-pencil-square-o fa-1x"></i>
                                       </span>
                                    </span>
                                    <div ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; top: 53px; left: 187px;">
                                        <i  ng-click="ProcessInputName($index, 'undefined', $event, 'SensorName')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                        <i  ng-click="sensor.ClickSensorsBtnName = false" class="fa fa-minus-square-o" aria-hidden="true" style="padding-right: 15px;"></i>
                                    </div>
                                    <!---->
                                    </br>

                                    <br>
                                    <div class="animate-if" ng-if="sensor.Type=='ds18b20' && sensor.ShowAddInfo" style="font-size: 11pt; color: #204d74; position: relative; line-height: 0em;" >
                                        <form ng-hide="!sensor.ShowAddInfo" style="line-height: 0em; margin: 0%; padding: 0%; margin-outside: 0pt;">
                                             <!--Путь-->
                                            <span style="font-size: 9pt; color: #a09f9d; position: absolute; bottom: 63px;">Путь: {{sensor.Master_ID}}/{{sensor.Slave_ID}}/{{sensor.Address}}</span>
                                            <span style="font-size: 11pt; color: #204d74; line-height: 1em; text-align: left;">
                                                Мин. тревога:&#160
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnLowerValue != true" style="position: relative; left: 2px;">
                                                {{sensor.Lower_Value}}&#160&#8451 &#160
                                            </span>
                                            <span ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: absolute; left: 102px; top: -1px;">
                                                <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'LowerValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Lower_Value}}" size="4" maxlength="4" ng-model="sensorUserName">
                                                 <span style="position: relative; bottom: 0px; left: 4px;"> &#160 &#8451 </span>
                                            </span>
                                            <div ng-if="sensor.ClickSensorsBtnLowerValue != true" ng-click="ProcessSensorsBtn($index, 'LowerValue')" style="position: relative; top: -11px; left: 178px; padding: 0px; margin: 0px;">
                                                  <span ng-if="sensor.showMousenterIcons" style="opacity:1">
                                                       <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                  </span>
                                                  <span ng-if="!sensor.showMousenterIcons" style="opacity:0">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                  </span>
                                            </div>
                                             <div ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: relative; top: -11px; left: 178px;">
                                                 <i  ng-click="ProcessInputName($index, 'undefined', $event, 'LowerValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                 <i  ng-click="sensor.ClickSensorsBtnLowerValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                             </div>
                                            <br>
                                                <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px;">
                                                    Макс. тревога:
                                                </span>
                                                <span ng-if="sensor.ClickSensorsBtnUpperValue != true" style="position: relative; top: -6px;">
                                                    {{sensor.Upper_Value}}&#160&#8451 &#160
                                                </span>
                                                <span ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: absolute; top: 15px; left: 102px; padding: 0px; margin: 0px; ">
                                                    <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'UpperValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Upper_Value}}" size="4" maxlength="4" ng-model="sensorUserName" align="center">
                                                    <span style="position: relative; bottom: 0px; left: 5px;"> &#160 &#8451 </span>
                                                </span>
                                                <div ng-if="sensor.ClickSensorsBtnUpperValue != true" ng-click="ProcessSensorsBtn($index, 'UpperValue')" style="position: relative; top: -11px; left: 178px;">
                                                    <span ng-if="sensor.showMousenterIcons" style="opacity:1">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                    <span ng-if="!sensor.showMousenterIcons" style="opacity:0">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                </div>
                                                <div ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: relative; top: -11px; left: 178px;">
                                                    <i  ng-click="ProcessInputName($index, 'undefined', $event, 'UpperValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                    <i  ng-click="sensor.ClickSensorsBtnUpperValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                </div>
                                            </br>
                                            <br style="line-height: 0em;">
                                                <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px; padding-bottom: -25pt;">
                                                    Предупреждение:
                                                </span>
                                                <span ng-if="sensor.ClickSensorsBtnDelta != true" style="position: relative; top: -6px; padding-bottom: -20pt; line-height: 0em;">
                                                    {{sensor.Delta}}&#160&#8451 &#160
                                                </span>
                                                <span ng-if="sensor.ClickSensorsBtnDelta == true" style="position: absolute; top: 31px; left: 125px; padding: 0px; margin: 0px;">
                                                    <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'Delta')" type="text" style="height:16px; font-size: 15px; width: 25px; maxlength: 3;" placeholder="{{sensor.Delta}}" size="3" maxlength="3" ng-model="sensorUserName">
                                                     <span style="position: relative; bottom: 0px; left: 0px;">&#8451 </span>
                                                </span>
                                                <div ng-if="sensor.ClickSensorsBtnDelta != true" ng-click="ProcessSensorsBtn($index, 'Delta')" style="position: relative; top: -11px; left: 178px; padding-bottom: -20pt; line-height: 0em;">
                                                    <span ng-if="sensor.showMousenterIcons" style="opacity:1;">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                    <span ng-if="!sensor.showMousenterIcons" style="opacity:0">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                </div>
                                                <div ng-if="sensor.ClickSensorsBtnDelta == true" style="position: relative; top: -11px; left: 178px;">
                                                    <i  ng-click="ProcessInputName($index, 'undefined', $event, 'Delta')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                    <i  ng-click="sensor.ClickSensorsBtnDelta = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                </div>
                                                 <span ng-show="sensor.showMousenterIcons" style="position: absolute; align-content: center; top: 80%; left: 50%; font-size: 16pt;">
                                                    <i ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8', }" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3', 'paddingTop':'0px'}" ng-click="sensor.ShowAddInfo = false; sensor.showMousenterIcons = false; sensor.ArrowEnter={'opacity':'0.3', 'paddingTop':'0px'}"; ng-style="sensor.ArrowEnter" style=" " class="fa fa-arrow-circle-o-down  fa-1x fa-rotate-180" aria-hidden="true"></i>
                                                </span>
                                        </form>
                                    </div>
                                    </br>
                                </div>
                            </td>
                        </span>
                                </tr>
                            </table>
                        </div>
                        <!--sensors component END-->
                    </div>
                </div>
            </div>
            <div style="height: auto; width: 30%; margin-top: 50%;  border: 1px solid;   text-align: center; "> меню тревоги</div>
            <div >
                <div> 1</div>
                <div> 2</div>
                <div> 3</div>
                <div> 4</div>
                <div> 5</div>
                <div> 6</div>
            </div>
        </div>

        <div ng-controller="UserpageController as ctrl" id="wrapper">
            <!--LOG request-->


                    <!--style="max-width: 60px; min-height: 80px; position: relative; top: 20px; left: 23.7%;  display: inline-block; vertical-align: top;"-->



                    <!--globalVars.alarms component-->
                    <!--<div  style="position: relative; float: left; left: 0%; top: 60px; display: inline-block; vertical-align: top; padding-bottom: 0%; background-color: #5cb85c">-->
                        <!--<div ng-class="NgAnimateClass" ng-if="globalVars.ClickEvents.alarmClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'relative', top: '50%', left: '-23%', paddingBottom: '50px'}" >-->
                            <!--<table class="table_blur";>-->
                                <!--<tr ng-if="globalVars.ClickEvents.ClickShowAllEvents">-->
                                    <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                        <!--<img ng-init="ImgTempOpacity1 = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-click="ProcessSensorsBtn($index, 'ShowErrData'); ProcessSensorsBtn($index, 'ShowWarningData'); globalVars.ClickEvents.ClickShowErr = false; globalVars.ClickEvents.ClickShowWarning = false;  globalVars.ClickEvents.ClickShowAllEvents = true" ng-mouseenter="ImgTempOpacity1 = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-mouseleave="ImgTempOpacity1 = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-style="ImgTempOpacity1" class="icon-3em" src="pure-css-accordion-nav/css/icon-event-64.png"></img>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-if="!globalVars.ClickEvents.ClickShowAllEvents">-->
                                    <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                        <!--<img ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowErrData'); ProcessSensorsBtn($index, 'ShowWarningData'); globalVars.ClickEvents.ClickShowErr = false; globalVars.ClickEvents.ClickShowWarning = false; globalVars.ClickEvents.ClickShowAllEvents = true" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-event-64.png"></img>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-if="globalVars.ClickEvents.ClickShowErr">-->
                                    <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                        <!--<img ng-init="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-click="ProcessSensorsBtn($index, 'ShowErrData')" ng-mouseenter="ImgTempOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-error-64.png"></img>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-if="!globalVars.ClickEvents.ClickShowErr">-->
                                    <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                        <!--<img ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowErrData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-error-64.png"></img>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-if="globalVars.ClickEvents.ClickShowWarning">-->
                                    <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                        <!--<img ng-init="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-mouseenter="ImgHudmOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-warning-64.png"></img>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-if="!globalVars.ClickEvents.ClickShowWarning">-->
                                    <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                        <!--<img ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowWarningData')" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-warning-64.png"></img>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                        <!--<i ng-mouseenter="ImgCloseMenuOpacity = {'opacity':'1'}; NgAnimateClass = ''" ng-mouseleave="ImgCloseMenuOpacity = {'opacity':'0.6'}"  ng-click="globalVars.ClickEvents.alarmClickMenu = false; globalVars.ClickEvents.ClickShowErr = false;  globalVars.ClickEvents.ClickShowAllEvents = false; globalVars.ClickEvents.ClickShowWarning = false" ng-style="ImgCloseMenuOpacity" class="fa fa-arrow-circle-o-down  fa-3x fa-rotate-270" aria-hidden="true"></i>-->
                                    <!--</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</div>-->
                        <!--<div style="position:absolute; float: left; left:0%; top: 200px;  background-color: #0f0f0f">-->
                            <!--<table class="table_blur">-->
                                <!--<tr ng-if="globalVars.ClickEvents.ClickShowErr ||  globalVars.ClickEvents.ClickShowAllEvents" ng-repeat="sensor in globalVars.alarms.err" ng-style="sensor.AlarmBackgroundColor">-->
                                    <!--<span ng-init="AlarmTrStyle = {'opacity':'1', 'backgroundColor':'', 'lineHeight':'0.9em', 'marginOutside':'0pt', 'padding-bottom':'0pt'}"></span>-->
                                    <!--<td ng-style="AlarmTrStyle"></i>-->
                                        <!--&lt;!&ndash;value&ndash;&gt;-->
                                        <!--<div ng-init="globalVars.ClickEvents.alarmClickMenu = true" ng-click="sensor.Active = false; sensor.ErrBlink = false; ProcessSensorsBtn($index, 'ERR'); sensor.AlarmBackgroundColor = {'opacity':'1', 'backgroundColor':'', 'lineHeight':'0.9em', 'marginOutside':'0pt', 'padding-bottom':'-100pt'}" style="font-size: 18pt; line-height: 0px;  line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; width: 300px;">-->
                                            <!--&lt;!&ndash;status icons&ndash;&gt;-->
                                            <!--<span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="text-align: center; font-weight: bold;" ng-class='{"iconPM": sensor.ErrBlink}'><img class="icon-2em" src="pure-css-accordion-nav/css/icon-error-64.png"></span>-->
                                            <!--<span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="font-weight: bold;"> {{sensor.Value}}</span>-->
                                            <!--&lt;!&ndash;upTime&ndash;&gt;-->
                                            <!--<sup style="font-size: 8pt; text-align: right; margin-top: 10px; float: right;">{{sensor.Time}}</sup>-->
                                            <!--&lt;!&ndash;&ndash;&gt;-->
                                            <!--&lt;!&ndash;Name block&ndash;&gt;-->
                                            <!--<br style="text-align: left; margin-top: 0px; line-height: 1em;">-->
                                            <!--&lt;!&ndash;Date&ndash;&gt;-->
                                            <!--<sup style="font-size: 8pt; text-align: right; position: absolute; left: 75%; top: 18px;">{{sensor.Date}}</sup>-->
                                            <!--&lt;!&ndash;&ndash;&gt;-->
                                            <!--&lt;!&ndash;Alarm sensor name&ndash;&gt;-->
                                            <!--<span ng-if="sensor.Name.length < 15" style="position: relative; left: 20%; top: -20pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 14pt;">-->
                                                <!--{{sensor.Name}}-->
                                        <!--</span>-->
                                            <!--<span ng-if="sensor.Name.length > 15" style="position: relative; line-height: 0em; left: 20%; top: -20pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 12pt;">-->
                                                <!--{{sensor.Name}}-->
                                        <!--</span>-->
                                            <!--&lt;!&ndash;Alarm Description&ndash;&gt;-->
                                            <!--<br>-->
                                            <!--<span ng-if="sensor.Description.length < 25" style="position: absolute; line-height: 0em;  left: 14px; top: 73%; padding-bottom: 0pt; padding-top: 0pt; font-size: 11pt; line-height: 0em; opacity: 0.8;">-->
                                                <!--{{sensor.Description}}-->
                                        <!--</span>-->
                                            <!--<span ng-if="sensor.Description.length > 25" style="position: relative; line-height: 0px;  left: 17px; top: -20pt; margin-bottom: 0pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 11pt;">-->
                                                <!--{{sensor.Description}}-->
                                        <!--</span>-->
                                            <!--&lt;!&ndash;&ndash;&gt;-->
                                            <!--</br>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-if="globalVars.ClickEvents.ClickShowWarning ||  globalVars.ClickEvents.ClickShowAllEvents" ng-repeat="sensor in globalVars.alarms.warning" ng-style="sensor.AlarmBackgroundColor">-->
                                    <!--<span ng-init="AlarmTrStyle = {'opacity':'1', 'backgroundColor':'', 'lineHeight':'0.9em', 'marginOutside':'0pt', 'padding-bottom':'0pt'}"></span>-->
                                    <!--<td ng-style="AlarmTrStyle"></i>-->
                                        <!--&lt;!&ndash;value&ndash;&gt;-->
                                        <!--<div ng-init="globalVars.ClickEvents.alarmClickMenu = true" ng-click="sensor.Active = false; sensor.WarnBlink = false; ProcessSensorsBtn($index, 'WARNING'); sensor.AlarmBackgroundColor = {'opacity':'1', 'backgroundColor':'', 'lineHeight':'0.9em', 'marginOutside':'0pt', 'padding-bottom':'-100pt'}" style="font-size: 18pt; line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; width: 300px;" style="font-size: 18pt; line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; min-width: 225px;">-->
                                            <!--&lt;!&ndash;status icons&ndash;&gt;-->
                                            <!--<span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')"  style="text-align: center; font-weight: bold;"><img class="icon-2em" ng-class='{"iconPM": sensor.WarnBlink}' src="pure-css-accordion-nav/css/icon-warning-64.png">{{sensor.Value}}</span>-->
                                            <!--<span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')" style="font-weight: bold;"> </span>-->
                                            <!--&lt;!&ndash;upTime&ndash;&gt;-->
                                            <!--<sup style="font-size: 8pt; text-align: right; margin-top: 10px; float: right;">{{sensor.Time}}</sup>-->
                                            <!--&lt;!&ndash;&ndash;&gt;-->
                                            <!--&lt;!&ndash;Name block&ndash;&gt;-->
                                            <!--<br style="text-align: left; margin-top: 0px; line-height: 1em;">-->
                                            <!--&lt;!&ndash;Date&ndash;&gt;-->
                                            <!--<sup style="font-size: 8pt; text-align: right; position: absolute; left: 75%; top: 17px;">{{sensor.Date}}</sup>-->
                                            <!--&lt;!&ndash;&ndash;&gt;-->
                                            <!--&lt;!&ndash;Alarm sensor name&ndash;&gt;-->
                                            <!--<span ng-if="sensor.Name.length < 15" style="position: relative; left: 20%; top: -20pt; padding-bottom: 0pt; padding-top: 0pt; font-weight: bold; font-size: 14pt;">-->
                                                <!--{{sensor.Name}}-->
                                        <!--</span>-->
                                            <!--<span ng-if="sensor.Name.length > 15" style="position: relative; left: 20%; top: -20pt; padding-bottom: 0pt; padding-top: 0pt; font-weight: bold; font-size: 12pt;">-->
                                                <!--{{sensor.Name}}-->
                                        <!--</span>-->
                                            <!--&lt;!&ndash;Alarm Description&ndash;&gt;-->
                                            <!--<br>-->
                                            <!--<span ng-if="sensor.Description.length < 25" style="position: absolute; left: 14px; top: 73%; padding-bottom: 0pt; padding-top: 0pt; font-size: 11pt;  line-height: 0em; opacity: 0.8;">-->
                                                <!--{{sensor.Description}}-->
                                        <!--</span>-->
                                            <!--<span ng-if="sensor.Description.length > 25" style="position: relative; line-height: 0px;  left: 17px; top: -20pt; margin-bottom: 0pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 9pt;">-->
                                                <!--{{sensor.Description}}-->
                                        <!--</span>-->
                                            <!--&lt;!&ndash;&ndash;&gt;-->
                                            <!--</br>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--alarm menu component-->
                    <span ng-init="ImgTempOpacity = {'opacity':'0.6'}"></span>
                    <span ng-init="ImgHudmOpacity = {'opacity':'0.6'}"></span>
                    <span ng-init="ImgSlaveOpacity = {'opacity':'0.6'}"></span>
                    <span ng-init="ImgEventsOpacity = {'opacity':'0.6'}"></span>
                    <!--<div ng-if="!globalVars.ClickEvents.alarmClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'absolute', float: 'left', top: '150%', left: '0%', display: 'inline-block',verticalAlign: 'top'}" >-->
                        <!--<table class="table_blur";>-->
                            <!--<tr>-->
                                <!--<td style="text-align: center; padding-bottom: 20px;">-->
                                    <!--<img  ng-mouseenter="ImgEventsOpacity = {'opacity':'1'}" ng-mouseleave="ImgEventsOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowErrData'); ProcessSensorsBtn($index, 'ShowWarningData'); globalVars.ClickEvents.ClickShowErr = false; globalVars.ClickEvents.ClickShowWarning = false; globalVars.ClickEvents.ClickShowAllEvents = true" ng-style="ImgEventsOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-event-64.png"></img>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                                    <!--<img  ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowErrData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-error-64.png"></img>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td style="text-align: center; padding-bottom: 20px;">-->
                                    <!--<img  ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowWarningData')" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-warning-64.png"></img>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
        </div>



