

.containerBar0 {
    margin: 2px auto;
    width: 300px;
    text-align: center;
}
.containerBar0 .progress0 {
    margin: 0 auto;
    width: 300px;
}

.progress0 {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar0 {
    position: relative;
    height: 5px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar0:before, .progress-bar0:after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.progress-bar0:before {
    bottom: 0;
    /*background: url("../img/stripes.png") 0 0 repeat;*/
    border-radius: 4px 4px 0 0;
}
.progress-bar0:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
#five:checked ~ .progress0 > .progress-bar0 {
    width: 5%;
    background-color: #f63a0f;
}

#twentyfive:checked ~ .progress0 > .progress-bar0 {
    width: 25%;
    background-color: #f27011;
}

#fifty:checked ~ .progress0 > .progress-bar0 {
    width: 50%;
    background-color: #f2b01e;
}

#seventyfive:checked ~ .progress0 > .progress-bar0 {
    width: 75%;
    background-color: #f2d31b;
}

#onehundred:checked ~ .progress0 > .progress-bar0 {
    width: 100%;
    background-color: #86e01e;
}



.radio {
    display: none;
}

.label {
    display: inline-block;
    margin: 0 1px 1px;
    padding: 3px 6px;
    color: black;
    font-size: 12px;
    text-shadow: 0 0px black;
    border-radius: 3px;
    cursor: pointer;
}
.radio:checked + .label {
    color: white;
    background: rgba(0, 0, 0, 0.25);
}








.containerBar1 {
     margin: 5px auto;
     width: 300px;
     text-align: center;
 }
.containerBar1 .progress {
    margin: 0 auto;
    width: 310px;
}

.progress1 {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar1 {
    position: relative;
    height: 5px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar1:before, .progress-bar1:after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.progress-bar1:before {
    bottom: 0;
    /*background: url("../img/stripes.png") 0 0 repeat;*/
    border-radius: 4px 4px 0 0;
}
.progress-bar1:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */


#five1:checked ~ .progress1 > .progress-bar1 {
    width: 5%;
    background-color: #f63a0f;
}

#twentyfive1:checked ~ .progress1 > .progress-bar1 {
    width: 25%;
    background-color: #f27011;
}

#fifty1:checked ~ .progress1 > .progress-bar1 {
    width: 50%;
    background-color: #f2b01e;
}

#seventyfive1:checked ~ .progress1 > .progress-bar1 {
    width: 75%;
    background-color: #f2d31b;
}

#onehundred1:checked ~ .progress1 > .progress-bar1 {
    width: 100%;
    background-color: #86e01e;
}


.radio1 {
    display: none;
}

.label1 {
    display: inline-block;
    margin: 0 1px 1px;
    padding: 2px 6px;
    color: black;
    font-size: 12px;
    text-shadow: 0 0px black;
    border-radius: 3px;
    cursor: pointer;
}

.radio1:checked + .label1 {
    color: white;
    background: rgba(0, 0, 0, 0.25);
}


/****************************************
 */
.containerBar3 {
    margin: 5px auto;
    width: 300px;
    text-align: center;
}
.containerBar3 .progress {
    margin: 0 auto;
    width: 300px;
}

.progress3 {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
    position: relative;
    height: 5px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar3:before, .progress-bar3:after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.progress-bar3:before {
    bottom: 0;
    /*background: url("../img/stripes.png") 0 0 repeat;*/
    border-radius: 4px 4px 0 0;
}
.progress-bar3:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */


#five3:checked ~ .progress3 > .progress-bar3 {
    width: 5%;
    background-color: #f63a0f;
}

#twentyfive3:checked ~ .progress3 > .progress-bar3 {
    width: 25%;
    background-color: #f27011;
}

#fifty3:checked ~ .progress3 > .progress-bar3 {
    width: 50%;
    background-color: #f2b01e;
}

#seventyfive3:checked ~ .progress3 > .progress-bar3 {
    width: 75%;
    background-color: #f2d31b;
}

#onehundred3:checked ~ .progress3 > .progress-bar3 {
    width: 100%;
    background-color: #86e01e;
}


.radio3 {
    display: none;
}

.label3 {
    display: inline-block;
    margin: 0 1px 1px;
    padding: 3px 15px;
    color: black;
    font-size: 12px;
    text-shadow: 0 0px black;
    border-radius: 3px;
    cursor: pointer;
}

.radio3:checked + .label3 {
    color: white;
    background: rgba(0, 0, 0, 0.25);
}

/****************************************
 */
.containerBar4 {
    margin: 1px auto;
    width: 300px;
    text-align: center;
}
.containerBar4 .progress {
    margin: 0 auto;
    width: 300px;
}

.progress4 {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar4 {
    position: relative;
    height: 5px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar4:before, .progress-bar4:after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.progress-bar4:before {
    bottom: 0;
    /*background: url("../img/stripes.png") 0 0 repeat;*/
    border-radius: 4px 4px 0 0;
}
.progress-bar4:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */


#five4:checked ~ .progress4 > .progress-bar4 {
    width: 5%;
    background-color: #f63a0f;
}

#twentyfive4:checked ~ .progress4 > .progress-bar4 {
    width: 25%;
    background-color: #f27011;
}

#fifty4:checked ~ .progress4 > .progress-bar4 {
    width: 50%;
    background-color: #f2b01e;
}

#seventyfive4:checked ~ .progress4 > .progress-bar4 {
    width: 75%;
    background-color: #f2d31b;
}

#onehundred4:checked ~ .progress4 > .progress-bar4 {
    width: 100%;
    background-color: #86e01e;
}


.radio4 {
    display: none;
}

.label4 {
    display: inline-block;
    margin: 0 0px 1px;
    padding: 3px 18px;
    color: black;
    font-size: 12px;
    text-shadow: 0 0px black;
    border-radius: 3px;
    cursor: pointer;
}

.radio4:checked + .label4 {
    color: white;
    background: rgba(0, 0, 0, 0.25);
}