html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width:100%;
}

body {
    /* Путь до изображения */
    /*background-image: url(russia.JPG);*/

    /* Фоновое изображение всегда отцентрировано по вертикали и горизонтали */
    /*background-position: center center;*/

    /*!* Фоновое изображение не повторяется *!*/
    /*background-repeat: no-repeat;*/

    /*!* Фоновое изображение зафиксировано в окне просмотра, поэтому оно не смещается, когда высота контента больше высоты изображения *!*/
    /*background-attachment: fixed;*/

    /*!* Вот что позволяет фоновому изображению подстраиваться под размер контейнера *!*/
    /*background-size: cover;*/

    /* Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
    /*background-color: #464646;*/
}

.header {
    padding: 15px;
}

.header img {
    display: inline-block;
}

.header h1 {
    display: inline-block;
}

.main {
    background-color: #f2f2f2 ;
    padding: 40px 0;
}

.main h1 {
    color: #F65A5B ;
    font-size: 64px;
    margin: 0 0 80px 0;
    padding: 20px 0;
    line-height: 60px;
    width: 50%;
}

.main h2 {
    background-color: #DDDDDD ;
    color: #999999 ;
    font-size: 20px;
    margin: 0 0 40px 0;
    padding: 20px 0;
}

.thumbnail {
    border: 0px;
    position: relative;
    padding: 50px;
    border-radius: 0;
    margin-bottom:50px;
}

 .center {
     width: 60%;
     /*border: 1px solid #000000;*/
     position: absolute;
     height: auto;
     left: 25%;
 }

.thumbnail img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 20%;
    max-width: 350px;
}

.title,
.date {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}

.date {
    color: #a3a3a3 ;
    font-size: 14px;
    font-weight: 200;
}

.price {
    background-color: #39D1B4 ;
    color: #fff;
    font-size: 18px;
    /*border-radius: 50%;*/
    border-bottom-left-radius: 50%;
    /*border-bottom-right-radius: 50%;*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -20px;
    right: 20px;
}

.rating {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 30px 0 -30px 20px;
}

.likes,
.dislikes {
    background: black ;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 80%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
    color: black;
    /*background: rgba(246, 90, 91, 0.25);*/
    background: white ;
    transition: background 700ms;
}

.footer {
    text-align: center;
    margin: 80px 0 110px;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.footer img {
    margin: 0 10px;
}

.buttonMain {
    background: #F65A5B ;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
}


.button {
    display: inline-block;
    vertical-align: top;
    height: 48px;
    line-height: 46px;
    padding: 0 25px;
    font-family: inherit, serif;
    font-size: 20px;
    color: #bbb;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    background-color: #303030;
    background-clip: padding-box;
    border: 1px solid;
    /*border-color: #202020 #1a1a1a #111;*/
    border-radius: 25px;
    background-image: -webkit-linear-gradient(top, #3d3d3d, #272727);
    background-image: -moz-linear-gradient(top, #3d3d3d, #272727);
    background-image: -o-linear-gradient(top, #3d3d3d, #272727);
    background-image: linear-gradient(to bottom, #3d3d3d, #272727);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
    /*padding: 5px 10px;*/
    background: none;
    color: white;
    -webkit-transition: background 0.8s ease;
}
.button:hover {
    background: white;
    color: white;
    background-color: #363636;
    background-image: -webkit-linear-gradient(top, #404040, #2a2a2a);
    background-image: -moz-linear-gradient(top, #404040, #2a2a2a);
    background-image: -o-linear-gradient(top, #404040, #2a2a2a);
    background-image: linear-gradient(to bottom, #404040, #2a2a2a);
 }

.button:active, .button.active {
    background: black;
    line-height: 48px;
    color: #ccc;
    background-color: #b42f32;
    border-color: #1c1c1c #202020 #222;
    background-image: -webkit-linear-gradient(top, #a3161a, #b63335 60%, #bf4749);
    background-image: -moz-linear-gradient(top, #a3161a, #b63335 60%, #bf4749);
    background-image: -o-linear-gradient(top, #a3161a, #b63335 60%, #bf4749);
    background-image: linear-gradient(to bottom, #a3161a, #b63335 60%, #bf4749);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

.button-check {
    position: relative;
    width: 48px;
    padding: 0;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}
.button-check:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -10px;
    height: 5px;
    width: 16px;
    border: solid #bbb;
    border-width: 0 0 5px 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
}
.button-check:active:before, .button-check.active:before {
    margin-top: -6px;
    border-color: #ccc;
    -webkit-box-shadow: -1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px rgba(0, 0, 0, 0.3);
}

.buttontext {
    display: inline-block;
    vertical-align: top;
    height: 48px;
    line-height: 46px;
    padding: 0 25px;
    font-family: inherit, serif;
    font-size: 20px;
    color: #bbb;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    background-color: #303030;
    background-clip: padding-box;
    /*border: 1px solid;*/
    /*border-color: #202020 #1a1a1a #111;*/
    border-radius: 25px;
    /*background-image: -webkit-linear-gradient(top, #3d3d3d, #272727);*/
    /*background-image: -moz-linear-gradient(top, #3d3d3d, #272727);*/
    /*background-image: -o-linear-gradient(top, #3d3d3d, #272727);*/
    /*background-image: linear-gradient(to bottom, #3d3d3d, #272727);*/
    /*-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);*/
    /*padding: 5px 10px;*/
    background: none;
    color: white;
    -webkit-transition: background 0.8s ease;
}

.lt-ie9 .button {
    line-height: 46px;
}
.lt-ie9 .button-check:before {
    content: none;
}
.lt-ie9 .button-check:after {
    /* a.k.a. the Unicode version */
    content: '\2713';
    font-size: 24px;
    font-weight: bold;
    color: #bbb;
}

.inputtext {

    display: inline-block;
    vertical-align: top;
    height: 48px;
    line-height: 46px;
    padding: 0 25px;
    font-family: inherit, serif;
    font-size: 20px;
    color: #bbb;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
    background-color: white;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 25px;
    background-image: -webkit-linear-gradient(top, #bbb, #bbb);
    background-image: -moz-linear-gradient(top, #bbb, #bbb);
    background-image: -o-linear-gradient(top, #bbb, #bbb);
    background-image: linear-gradient(to bottom, #fff, #fff);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background 700ms;
}

.fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
    color: #666; /* Цвет подрисуночной подписи */
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.block {
    background: none;


}

.img {
    display: block;
    border: none;
}


.div_one {
    background-image: url(russia.JPG);
     /*Фоновое изображение всегда отцентрировано по вертикали и горизонтали */
    background-position: center center;

    /* Фоновое изображение не повторяется */
    background-repeat: no-repeat;

    /* Фоновое изображение зафиксировано в окне просмотра, поэтому оно не смещается, когда высота контента больше высоты изображения */
    background-attachment: fixed;

    /* Вот что позволяет фоновому изображению подстраиваться под размер контейнера */
    background-size: cover;

     /*Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
    /*background-color: #464646;*/
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    /*background-color: #000000;*/
    /*opacity: 0.2;*/
    filter: alpha(opacity=20);
    z-index: 9999;
}


.chart_div-table {
    width: auto;
    margin: 0 auto !important;
}

.chart {
    display: block;
    margin: 0 auto;
}



#my-div {
    background-color: cornflowerblue;
    height: auto;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    overflow:hidden;
}

.animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}

.animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    opacity:1;
}

.animate-if.ng-leave {
    max-height: 999px;
    opacity:1;

}

.animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}


.columns {
    overflow: hidden;
    width: 100%;
}
.column {
     border: 1px dashed #CCCCCC;
     min-height: 150px;
     overflow: hidden;
     padding: 10px;
     position: relative;

     /* CSS3 Box sizing property */
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -o-box-sizing: border-box;
     box-sizing: border-box;

     /* CSS3 transition */
     -moz-transition: all 0.2s linear;
     -ms-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     -webkit-transition: all 0.2s linear;
     transition: all 0.2s linear;
 }


.columns {
    overflow: hidden;
    width: 100%;
}
.column {
    border: 1px dashed #CCCCCC;
    min-height: 150px;
    overflow: hidden;
    padding: 10px;
    position: relative;

    /* CSS3 Box sizing property */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    /* CSS3 transition */
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.column img {
    float: left;
    margin: 0 10px 10px 0;
}
.column div {
    background-color: #888888;
    float: left;
    height: 80%;
    margin: 0px 10px 10px 0px;
    width: 100%;
}
#left {
    background-color: #C8FC98;
    float: left;
    width: 15%;
}
#right {
    background-color: #FDE95E;
    float: right;
    width: 25%;
}
#center {
    margin: 0% 25%;
    text-align: center;
    margin-inside: 0px;
}






