

<p>Зарегистрирован новый пользователь системы {{site_name}}!</p>

<p>
    <b>Электронная почта:</b>{{user_email}}
</p>
<p>
    <b>Имя:</b>{{first_name}}
</p>
<p>
    <b>Фамилия:</b>{{last_name}}
</p>
<p>
    <b>Дата рождения:</b>{{birthday_day}}
</p>
<p>
    <b>Страна:</b>{{country}}
</p>
<p>
    <b>Город:</b>{{city}}
</p>
<p>
    <b>Пол:</b>{{gender}}
</p>


<b>Форма регистрации ученика:</b>
<br>
{{#хочу-учиться}}
    Хочу изучить, получить консультацию:{{хочу-учиться_1}}
    <br>
        <b>Форма обучения:</b>{{хочу-учиться_2}}

    <br>
     <b>Желаемая стоимость услуг (час):</b>{{хочу-учиться_3}}
    <br>
        <b>Подготовка:</b>{{хочу-учиться_4}}
    <br>
        <b>Цель обучения:</b>{{хочу-учиться_5}}
    <br>
        <b>Желаемый срок обучения:</b>{{хочу-учиться_6}}
    <br>
        <b>Язык обучения:</b>{{хочу-учиться_7}}
    <br>
{{/хочу-учиться}}
<br>
<br>
<b>Форма регистрации преподавателя:</b>
<br>
{{#хочу-преподавать}}
    <br>
        <b>Хочу преподавать, консультировать:</b>{{teacher-1}}
    <br>
        <b>Форма обучения:</b>{{хочу-преподавать_2}}
    <br>
        <b>Желаемая оплата (час):</b>{{хочу-преподавать_3}}
    <br>
        <b>Образование, ВУЗ :</b>{{хочу-преподавать_4}}
    <br>
        <b>Рабочий стаж:</b>{{хочу-преподавать_5}}
    <br>
        <b>Язык преподавания:</b>{{хочу-преподавать_6}}
    <br>
        <b>Готов вести занятия в группе:</b>{{хочу-преподавать_7}}
{{/хочу-преподавать}}
