<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MIWI USER MENU</title>
  <!--<script src="app/app.js"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!--<script src="app/app.js"></script>-->
  <link rel="stylesheet" href="pure-css-accordion-nav/css/style.css">
  <!--<script scr="pure-css-accordion-nav/css/style.css"></script>-->
  <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
</head>
<!--
<body>
<div ng-controller="UserpageController">
  <div class="left-menu">
    <div class="logo"><i class="fa fa-align-justify"></i>
      <div>MyMush menu</div>
    </div>
    <div class="accordion">
      <div class="section">
        <div class="section">
          <input type="radio" name="accordion-1" id="section-1" value="toggle"/>
          <label for="section-1"> <span>Devices</span></label>
           <div class="content">
             <ul>
               <li><i class="fa fa-sitemap"></i><span>MyMush Network</span></li>
               <li ng-click="sensorsClick()"><i class="glyphicon glyphicon-scale" ng-click="sensorsClick()"></i><span ng-click="sensorsClick()">Sensors</span></li>
               <li ng-click="relaysClick()"><i class="glyphicon glyphicon-play" ng-click="relaysClick()"></i><span ng-click="relaysClick()">Relays</span></li>
             </ul>
           </div>
         </div>
         <div class="section">
           <input type="radio" name="accordion-1" id="section-2" value="toggle"/>
           <label for="section-2"> <span>Cabinet</span></label>
           <div class="content">
             <ul>
               <li><i class="fa fa-cog fa-spin  fa-fw"></i><span>Settings</span></li>
               <li><i class="fa fa-group"></i><span>Lisence</span></li>
             </ul>
           </div>
         </div>
         <div class="section">
           <input type="radio" name="accordion-1" id="section-3" value="toggle"/>
           <label for="section-3"> <span>Events</span></label>
           <div class="content">
             <ul>
               <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
               <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
             </ul>
           </div>
         </div>
         <div class="section">
           <input type="radio" name="accordion-1" id="section-4" value="toggle"/>
           <label for="section-4"> <span>Section 4</span></label>
           <div class="content"></div>
         </div>
       </div>
     </div>
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   </div>
 </div>
 </body>
 </html>
