<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
</head>


<body ng-app="myApp" ng-controller="MainController">


<div class="div_one" ng-show="ngshowlogapp">
    <span ng-init="Ui.turnOn('uiSidebarRight')"></span>
    <div class="parent">
        <div class="block">
            <div class="fig" ng-show="testngShow(ngshowLogin)">
                <input class="inputtext" type="text" ng-model="inputtextLogin" placeholder="login">
            </div>
            <div class="fig" ng-show="testngShow(ngshowLogin)">
                <input class="inputtext" type="password" ng-model="inputtextPassword" placeholder="password">
            </div>
            <div class="fig" ng-show="testngShow(ngshowLogin)">
                <button class="button" ng-click="Mainbutton()">
                    <span class="">Login</span>
                </button>
            </div>
            <p class="fig"> {{ forgotPass }} </p>
            <p class="buttontext">{{ text }}</p>
        </div>
    </div>
</div>

<!--<foo-bar></foo-bar>&lt;!&ndash;<Модуль меню >-->
<span ng-controller="UserpageController as ctrl">
<span ng-if="updateFlag"  ng-bind="updateDataEvent()"></span>


    <!--<span ng-if="!ngshowlogapp" ng-init="Ui.turnOn('uiSidebarRight')"></span>
    <div ng-if="globalVars.sensorsFinal.length != 0" style="width: 50%; margin-left: 20%;">
    </div>-->
     <foo-bar></foo-bar><!--<Модуль меню >
     <!--Show relay table if button "Relays" clicked-->
    <!--<div class="center" ng-if="relaysClickTemp()">-->
        <!--<relays-table-template ></relays-table-template>-->
    <!--</div>-->
    <!--<div class="center" ng-if="sensorsClickTemp()">-->
        <!--<sensors-table-template ></sensors-table-template>-->
    <!--</div>-->
    <!--<chart-temp></chart-temp>-->
</span>





























<!-- In production use:

-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="css/bootstrap.css"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!---->
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>

<link href="css/main.css" rel="stylesheet" />




<script src="app.js"></script>

 <!--Only required for desktop-->
<link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
 <!--Always required -->
<link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
 <!--Only required for desktop-->
<link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />

<!--Bower links-->
<script src="bower_components/angular-css/angular-css.min.js"></script>
<script src="bower_components/angular-css/angular-css.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>

<!--Connect controllers-->
<script src="controllers/googleGraphCtrl.js"></script>
<script src="controllers/mainController.js"></script>
<script src="controllers/userPageCtrl.js"></script>
<!--Connect directives-->
<script src="directives/accordionmenuDrc.js"></script>
<script src="directives/charttempDrc.js"></script>
<script src="directives/foobarDrc.js"></script>
<script src="directives/sensorsliDrc.js"></script>
<!--Connect factory-->
<script src="factory/globalVars.js"></script>
<!--Connect services-->
<script src="services/getDatafromServer.js"></script>

<!--Template_accordion-menu:-->
<script src="pure-css-accordion-nav/accordion_menu.html"></script>
<script src="pure-css-accordion-nav/css/style.css"></script>
<script src="pure-css-accordion-nav/index-async.html"></script>
<script src="pure-css-accordion-nav/js/index.js"></script>

<!-- Template_graph-temp:-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Template_sensor-table:-->
<script src="pure-css-accordion-nav/css/sensor-table.css"></script>
<!-- <script src="pure-css-accordion-nav/sensor-table.html"></script>-->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<link rel="stylesheet" href="pure-css-accordion-nav/css/sensor-table.css">
<link href="css/checkbox-progress.css" rel="stylesheet">
<link rel="stylesheet" href="css/checkbox.css">
<!-- Template_relays-table:-->
<script src="pure-css-accordion-nav/relays-table.html"></script>
<!-- Template_log-template:-->
<script src="pure-css-accordion-nav/log-template.html"></script>
<!-- Template_graph:-->
<script src="controllers/googleGraphCtrl.js"></script>
<script src="pure-css-accordion-nav/google-chart.html"></script>
<!-- ui templates:-->
    <!-- settngBkm-->
    <script src="user_components/settingBkm/settingBkm.js"></script>
    <script src="user_components/settingBkm/settingBkmTemplate.html"></script>
    <script src="user_components/settingBkm/settingBkmTemplateSdbrleft.html"></script>
    <script src="user_components/settingBkm/settingBkmTemplateHeader.html"></script>
    <!-- History-->
    <script src="user_components/logTable/PageHeaderTemplateHistory.html"></script>
    <script src="user_components/logTable/PageHeaderTemplateHistory.html"></script>
    <script src="user_components/logTable/logTable.js"></script>
    <script src="user_components/logTable/logTableTemplate.html"></script>
    <!-- Graph-->
    <script src="user_components/uiTemplates/Graph/PageHeaderTemplateGraph.html"></script>
    <script src="user_components/uiTemplates/Graph/SidebarLeftTemplateGraph.html"></script>
    <!-- Sensors-->
    <script src="user_components/uiTemplates/Sensors/PageHeaderTemplateSensors.html"></script>
    <script src="user_components/uiTemplates/Sensors/SidebarLeftTemplateSensors.html"></script>
    <script src="user_components/uiTemplates/Sensors/BodyTemplateSensors.html"></script>
<!--TEST GRAPH-->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!--ngTable component-->
<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="npm_component/ng-table/bundles/ng-table.js"></script>
<!--ui-router component-->
<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
</body>
</html>
