<!DOCTYPE html>
<html-rezin>

    <head>
        <meta charset="utf-8">
        <title>
            Резиновая верстка
        </title>
        <meta name="description" content="Верстка резинового макета, особенности и практическое решение">
        <meta name="keywords" content="верстка, верстка сайта, html верстка, резиновая верстка, верстка макета">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--<link rel="stylesheet" href="pure-css-accordion-nav/css/style.css" type="text/css">-->
        <link rel="stylesheet" href="pure-css-accordion-nav/css/rezin.css" type="text/css">
        <link rel="stylesheet" href="css/checkbox.css" >
        <link rel="stylesheet" type="text/css" href="pure-css-accordion-nav/css/loading-bar/loading-bar.css"/>
        <script type="text/javascript" src="pure-css-accordion-nav/css/loading-bar/loading-bar.js"></script>
    </head>
    <body-rezin>
        <div ng-controller="UserpageController" id="wrapper">
            <div class="section-rezin maxw-rezin">
                <div class="mainwrap-rezin">
                    <main-rezin>
                        <article-rezin>
                            <!--sensors component-->
                            <div style="position: relative; left: 67%; top: 20px; display: inline-block; vertical-align: top; padding-bottom: 20px;">
                                <table class="table_blur";>
                                    <tr ng-repeat="sensor in sensorsFinal">
                                        <span ng-if="updateFlag"  ng-bind="updateDataEvent()"></span>
                                        <!--HUDMUNITY-->
                                        <td ng-if="sensor.Type=='H' && sensor.ClickShowHudmData && !sensor.ClickShowTempData" style="line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; padding-bottom: -100pt;"></i>
                                            <!--value-->
                                            <div ng-init="ClickEvents.sensorsClickMenu = true" style="font-size: 18pt; line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; min-width: 225px;">
                                                <!--status icons-->
                                                <span ng-if="sensor.Status=='OK'"  style="text-align: center; font-weight: bold;"><img class="icon-2em" src="pure-css-accordion-nav/css/icon-ok-64.png">{{sensor.Value}} % </span>
                                                <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')"  style="text-align: center; font-weight: bold;"><img class="icon-2em" ng-class='{"iconPM": sensor.WarnBlink}' src="pure-css-accordion-nav/css/icon-warning-64.png">{{sensor.Value}} %</span>
                                                <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')" style="font-weight: bold;"> </span>
                                                <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="text-align: center; font-weight: bold;" ng-class='{"iconPM": sensor.ErrBlink}'><img class="icon-2em" src="pure-css-accordion-nav/css/icon-error-64.png"></span>
                                                <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="font-weight: bold;"> {{sensor.Value}} %</span>
                                                <span style="position: absolute; top: -7pt; left: 100pt;">
                                                    <span ng-if="sensor.ArrowEnter == undefined">
                                                        <span ng-init="sensor.ArrowEnter = {'opacity':'0.3'}"></span>
                                                    </span>
                                                    <i ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8'}" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3'}" ng-click="sensor.ShowAddInfo = false" ng-style="sensor.ArrowEnter" style="transition-timing-function: linear;" class="fa fa-arrow-circle-o-down  fa-3x fa-rotate-180" aria-hidden="true"></i>
                                                    <i ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8'}" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3'}" ng-click="sensor.ShowAddInfo = true" ng-style="sensor.ArrowEnter"  style="transition-timing-function: ease-out;" class="fa fa-arrow-circle-o-down  fa-3x" aria-hidden="true"></i>
                                                </span>
                                                <!--upTime-->
                                                <sup style="font-size: 8pt; text-align: right; margin-top: 10px; float: right;">{{sensor.Time}}</sup>
                                                <!---->
                                                <!--Name block-->
                                                <br style="text-align: left; margin-top: 0px; line-height: 1em;">
                                                <!--Date-->
                                                <!--<sup style="font-size: 8pt; text-align: right; float: right; position: absolute; margin-top: -9%;">{{sensor.Date}}</sup>-->
                                                <sup style="font-size: 8pt; text-align: right; position: absolute; left: 79.3%; top: 13%;">{{sensor.Date}}</sup>
                                                <!---->
                                                <!--Name input-->
                                                <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length < 15" style="position: relative; left: 0px; top: 19pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 14pt;">
                                                        {{sensor.Name}}
                                                    </span>
                                                <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length > 15" style="position: relative; left: 0px; top: 19pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 12pt;">
                                                        {{sensor.Name}}
                                                    </span>
                                                <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length < 15" style="position: relative; left: 3px; top: 8pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 14pt;">
                                                        {{sensor.Name}}
                                                    </span>
                                                <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length > 15" style="position: relative; left: 3px; top: 8pt; padding-bottom: 0pt; padding-top: 0pt; font-size: 12pt;">
                                                        {{sensor.Name}}
                                                    </span>
                                                <span ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; left: 15px; top: 50px; padding-bottom: 0pt; padding-top: 0pt;">
                                                         <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'SensorName')" type="text" style="height:23px; font-size: 17px; width: 160px" placeholder="{{sensor.Name}}" size="4" maxlength="16" ng-model="sensorUserName">
                                                    </span>
                                                <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true" ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 26px; left: 0px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true" ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 12px; left: 0px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                <div ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; top: 53px; left: 187px;">
                                                    <i  ng-click="ProcessInputName($index, 'undefined', $event, 'SensorName')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                    <i  ng-click="sensor.ClickSensorsBtnName = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                </div>
                                                <!---->
                                                </br>
                                                <br>
                                                <div class="animate-if" ng-if="sensor.Type=='H' && sensor.ShowAddInfo" style="font-size: 11pt; color: #204d74; position: relative; line-height: 0em;" >
                                                    <form ng-hide="!sensor.ShowAddInfo" style="line-height: 0em; margin: 0%; padding: 0%; margin-outside: 0pt;">
                                                        <!--Путь-->
                                                        <span  style="font-size: 9pt; color: #a09f9d; position: absolute; bottom: 63px;">Путь: {{sensor.Master_ID}} / {{sensor.Slave_ID}}  / {{sensor.Address}}</span>
                                                        <span ng-show="sensor.ShowAddInfo"  style="font-size: 11pt; color: #204d74; line-height: 1em; text-align: left;">
                                                                Мин. тревога:&#160
                                                            </span>
                                                        <span ng-show="sensor.ShowAddInfo" ng-if="sensor.ClickSensorsBtnLowerValue != true" style="position: relative; left: 2px;">
                                                                {{sensor.Lower_Value}}&#160% &#160
                                                            </span>
                                                        <span ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: absolute; left: 102px; top: -1px;">
                                                                <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'LowerValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Lower_Value}}" size="4" maxlength="4" ng-model="sensorUserName">
                                                                <span style="position: relative; bottom: 0px; left: -5px;"> &#160 %</span>
                                                            </span>
                                                        <div ng-if="sensor.ClickSensorsBtnLowerValue != true" ng-click="ProcessSensorsBtn($index, 'LowerValue')" style="width: 10%; position: relative; top: -13px; left: 178px; padding: 0px; margin: 0px;">
                                                            <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                        </div>
                                                        <div ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: relative; top: -13px; left: 178px;">
                                                            <i  ng-click="ProcessInputName($index, 'undefined', $event, 'LowerValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                            <i  ng-click="sensor.ClickSensorsBtnLowerValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                        </div>
                                                        <br>
                                                        <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px;">
                                                                    Макс. тревога:
                                                                </span>
                                                        <span ng-if="sensor.ClickSensorsBtnUpperValue != true" style="position: relative; top: -6px;">
                                                                    {{sensor.Upper_Value}}&#160% &#160
                                                                </span>
                                                        <span ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: absolute; top: 15px; left: 102px; padding: 0px; margin: 0px; ">
                                                                    <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'UpperValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Upper_Value}}" size="4" maxlength="4" ng-model="sensorUserName">
                                                                    <span style="position: relative; bottom: 0px; left: -5px;"> &#160 %</span>
                                                                </span>
                                                        <div ng-if="sensor.ClickSensorsBtnUpperValue != true" ng-click="ProcessSensorsBtn($index, 'UpperValue')" style="position: relative; top: -11px; left: 178px; width: 10%; clear: both; padding: 0px; margin-outside: 0px; margin: 0; padding-right: 0px; padding-left: 0px;">
                                                            <i class="fa  fa-pencil-square-o fa-1x" ></i>
                                                        </div>
                                                        <div ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: relative; top: -11px; left: 178px;">
                                                            <i  ng-click="ProcessInputName($index, 'undefined', $event, 'UpperValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                            <i  ng-click="sensor.ClickSensorsBtnUpperValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                        </div>
                                                        </br>
                                                        <br style="line-height: 0em;">
                                                        <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px; padding-bottom: -20pt;">
                                                                    Предупреждение:
                                                                </span>
                                                        <span ng-if="sensor.ClickSensorsBtnDelta != true" style="position: relative; top: -6px; padding-bottom: -20pt; line-height: 0em;">
                                                                    {{sensor.Delta}}&#160% &#160
                                                                </span>
                                                        <span ng-if="sensor.ClickSensorsBtnDelta == true" style="position: absolute; top: 31px; left: 125px; padding: 0px; margin: 0px;">
                                                                    <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'Delta')" type="text" style="height:16px; font-size: 15px; width: 15px; maxlength: 1;" placeholder="{{sensor.Delta}}" size="1" maxlength="1" ng-model="sensorUserName">
                                                                    <span style="position: relative; bottom: 0px; left: -8px;"> &#160 %</span>
                                                                </span>
                                                        <div ng-if="sensor.ClickSensorsBtnDelta != true" ng-click="ProcessSensorsBtn($index, 'Delta')" style="position: relative; top: -11px; left: 178px; width: 10%; padding-bottom: -20pt; line-height: 0em;">
                                                            <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                        </div>
                                                        <div ng-if="sensor.ClickSensorsBtnDelta == true" style="position: relative; top: -11px; left: 178px;">
                                                            <i  ng-click="ProcessInputName($index, 'undefined', $event, 'Delta')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                            <i  ng-click="sensor.ClickSensorsBtnDelta = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                        </div>
                                                        </br>
                                                    </form>
                                                </div>
                                                </br>
                                            </div>
                                        </td>
                                        <!--18b20Sensor-->
                                        <span>
                                            <td ng-if="sensor.Type == 'ds18b20' && sensor.ClickShowTempData && !sensor.ClickShowHudmData" style="line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; padding-bottom: -100pt;"></i>
                                                <!--value-->
                                                <div ng-init="ClickEvents.sensorsClickMenu = true" style="font-size: 18pt; line-height: 0.9em; margin-inside: 0pt; margin-outside: 0pt; min-width: 230px;">
                                                    <!--status icons-->
                                                    <span ng-if="sensor.Status=='OK'"  style="text-align: center; font-weight: bold;"><img class="icon-2em" src="pure-css-accordion-nav/css/icon-ok-64.png">{{sensor.Value}} &#8451 &#160&#160&#160&#160&#160</span>
                                                    <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')"  style="text-align: center; font-weight: bold;"><img class="icon-2em" ng-class='{"iconPM": sensor.WarnBlink}' src="pure-css-accordion-nav/css/icon-warning-64.png">{{sensor.Value}} &#8451</span>
                                                    <span ng-if="sensor.Status=='WARNING'" ng-click="ProcessSensorsBtn($index, 'WARNING')"></span>
                                                    <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="text-align: center; font-weight: bold;" ng-class='{"iconPM": sensor.ErrBlink}'><img class="icon-2em" src="pure-css-accordion-nav/css/icon-error-64.png"></span>
                                                    <span ng-if="sensor.Status=='ERR'" ng-click="ProcessSensorsBtn($index, 'ERR')" style="text-align: center; font-weight: bold;"> {{sensor.Value}} &#8451</span>
                                                    <span style="position: absolute; left: 135px; top: -10px;">
                                                         <span ng-if="sensor.ArrowEnter == undefined">
                                                            <span ng-init="sensor.ArrowEnter = {'opacity':'0.3'}"></span>
                                                        </span>
                                                         <i ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8'}" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3'}" ng-click="sensor.ShowAddInfo = true" ng-style="sensor.ArrowEnter"  style=" " class="fa fa-arrow-circle-o-down  fa-3x" aria-hidden="true"></i>
                                                         <i ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true"  ng-mouseenter="sensor.ArrowEnter = {'opacity':'0.8'}" ng-mouseleave="sensor.ArrowEnter = {'opacity':'0.3'}" ng-click="sensor.ShowAddInfo = false" ng-style="sensor.ArrowEnter" style=" " class="fa fa-arrow-circle-o-down  fa-3x fa-rotate-180" aria-hidden="true"></i>
                                                    </span>
                                                    <!--upTime-->
                                                    <!--<sup style="font-size: 8pt; text-align: right; margin-top: 10px; float: right;">{{sensor.Time}}</sup>-->
                                                    <sup style="font-size: 8pt; text-align: right; position: absolute; left: 80%; top: 4%;">{{sensor.Time}}</sup>
                                                    <!---->
                                                    <!--Name block-->
                                                    <br style="text-align: left; margin-top: 0px; line-height: 1em;">
                                                    <!--Date-->
                                                    <sup style="font-size: 8pt; text-align: right; position: absolute; left: 80%; top: 13%;">{{sensor.Date}}</sup>
                                                    <!---->
                                                    <!--Name input-->
                                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length < 15" ng-style="{position: 'relative', left:'3px', top: '24px', fontSize: '14pt'}" >
                                                        {{sensor.Name}}
                                                    </span>
                                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true && sensor.Name.length > 15" ng-style="{position: 'relative', left:'3px', top: '24px', fontSize: '12pt'}" >
                                                        {{sensor.Name}}
                                                    </span>
                                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length < 15" ng-style="{position: 'relative', left:'3px', top: '8pt', fontSize: '14pt'}" >
                                                        {{sensor.Name}}
                                                    </span>
                                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true && sensor.Name.length > 15" ng-style="{position: 'relative', left:'3px', top: '8pt', fontSize: '12pt'}" >
                                                        {{sensor.Name}}
                                                    </span>
                                                    <span ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; left: 15px; top: 50px; padding-bottom: 0pt; padding-top: 0pt;">
                                                        <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'SensorName')" type="text" style="height:23px; font-size: 17px; width: 160px" placeholder="{{sensor.Name}}" size="4" maxlength="16" ng-model="sensorUserName">
                                                    </span>
                                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo != true" ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 26px; left: 3px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                    <span ng-if="sensor.ClickSensorsBtnName != true && sensor.ShowAddInfo == true" ng-click="ProcessSensorsBtn($index, 'SensorName')" style="position: relative; top: 11px; left: 0px; padding: 0px; padding-bottom: 0pt; padding-top: 0pt; padding-left: 8pt; padding-right: 0px;">
                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                    </span>
                                                    <div ng-if="sensor.ClickSensorsBtnName == true" style="position: absolute; top: 53px; left: 187px;">
                                                        <i  ng-click="ProcessInputName($index, 'undefined', $event, 'SensorName')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                        <i  ng-click="sensor.ClickSensorsBtnName = false" class="fa fa-minus-square-o" aria-hidden="true" style="padding-right: 15px;"></i>
                                                    </div>
                                                    <!---->
                                                    </br>

                                                    <br>
                                                        <div class="animate-if" ng-if="sensor.Type=='ds18b20' && sensor.ShowAddInfo" style="font-size: 11pt; color: #204d74; position: relative; line-height: 0em;" >
                                                            <form ng-hide="!sensor.ShowAddInfo" style="line-height: 0em; margin: 0%; padding: 0%; margin-outside: 0pt;">
                                                                 <!--Путь-->
                                                                <span style="font-size: 9pt; color: #a09f9d; position: absolute; bottom: 65px;">Путь: {{sensor.Master_ID}} / {{sensor.Slave_ID}} / {{sensor.Address}}</span>
                                                                <span style="font-size: 11pt; color: #204d74; line-height: 1em; text-align: left;">
                                                                    Мин. тревога:&#160
                                                                </span>
                                                                <span ng-if="sensor.ClickSensorsBtnLowerValue != true" style="position: relative; left: 2px;">
                                                                    {{sensor.Lower_Value}}&#160&#8451 &#160
                                                                </span>
                                                                <span ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: absolute; left: 102px; top: -1px;">
                                                                    <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'LowerValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Lower_Value}}" size="4" maxlength="4" ng-model="sensorUserName">
                                                                     <span style="position: relative; bottom: 0px; left: 4px;"> &#160 &#8451 </span>
                                                                </span>
                                                                <div ng-if="sensor.ClickSensorsBtnLowerValue != true" ng-click="ProcessSensorsBtn($index, 'LowerValue')" style="position: relative; top: -11px; left: 178px; padding: 0px; margin: 0px;">
                                                                    <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                                </div>
                                                                 <div ng-if="sensor.ClickSensorsBtnLowerValue == true" style="position: relative; top: -11px; left: 178px;">
                                                                     <i  ng-click="ProcessInputName($index, 'undefined', $event, 'LowerValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                     <i  ng-click="sensor.ClickSensorsBtnLowerValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                                 </div>
                                                                <br>
                                                                    <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px;">
                                                                        Макс. тревога:
                                                                    </span>
                                                                    <span ng-if="sensor.ClickSensorsBtnUpperValue != true" style="position: relative; top: -6px;">
                                                                        {{sensor.Upper_Value}}&#160&#8451 &#160
                                                                    </span>
                                                                    <span ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: absolute; top: 15px; left: 102px; padding: 0px; margin: 0px; ">
                                                                        <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'UpperValue')" type="text" style="height:17px; font-size: 15px; width: 35px" placeholder="{{sensor.Upper_Value}}" size="4" maxlength="4" ng-model="sensorUserName" align="center">
                                                                        <span style="position: relative; bottom: 0px; left: 5px;"> &#160 &#8451 </span>
                                                                    </span>
                                                                    <div ng-if="sensor.ClickSensorsBtnUpperValue != true" ng-click="ProcessSensorsBtn($index, 'UpperValue')" style="position: relative; top: -11px; left: 178px;">
                                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                                    </div>
                                                                    <div ng-if="sensor.ClickSensorsBtnUpperValue == true" style="position: relative; top: -11px; left: 178px;">
                                                                        <i  ng-click="ProcessInputName($index, 'undefined', $event, 'UpperValue')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                        <i  ng-click="sensor.ClickSensorsBtnUpperValue = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                                    </div>
                                                                </br>
                                                                <br style="line-height: 0em;">
                                                                    <span style="font-size: 11pt; color: #204d74; line-height: 0em; clear: both; padding-top: -50px; position: relative; top: -6px; left: 0px; padding-bottom: -20pt;">
                                                                        Предупреждение:
                                                                    </span>
                                                                    <span ng-if="sensor.ClickSensorsBtnDelta != true" style="position: relative; top: -6px; padding-bottom: -20pt; line-height: 0em;">
                                                                        {{sensor.Delta}}&#160&#8451 &#160
                                                                    </span>
                                                                    <span ng-if="sensor.ClickSensorsBtnDelta == true" style="position: absolute; top: 31px; left: 125px; padding: 0px; margin: 0px;">
                                                                        <input ng-keyup="ProcessInputName($index, sensorUserName, $event.keyCode, 'Delta')" type="text" style="height:16px; font-size: 15px; width: 25px; maxlength: 3;" placeholder="{{sensor.Delta}}" size="3" maxlength="3" ng-model="sensorUserName">
                                                                         <span style="position: relative; bottom: 0px; left: 0px;">&#8451 </span>
                                                                    </span>
                                                                    <div ng-if="sensor.ClickSensorsBtnDelta != true" ng-click="ProcessSensorsBtn($index, 'Delta')" style="position: relative; top: -11px; left: 178px; padding-bottom: -20pt; line-height: 0em;">
                                                                        <i class="fa  fa-pencil-square-o fa-1x"></i>
                                                                    </div>
                                                                    <div ng-if="sensor.ClickSensorsBtnDelta == true" style="position: relative; top: -11px; left: 178px;">
                                                                        <i  ng-click="ProcessInputName($index, 'undefined', $event, 'Delta')" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                        <i  ng-click="sensor.ClickSensorsBtnDelta = false" class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                                    </div>
                                                                </br>
                                                            </form>
                                                        </div>
                                                    </br>
                                                </div>
                                            </td>
                                        </span>
                                    </tr>
                                </table>
                            </div>
                            <!--style="max-width: 60px; min-height: 80px; position: relative; top: 20px; left: 23.7%;  display: inline-block; vertical-align: top;"-->

                            <!--sensors menu component-->
                            <div ng-if="!ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'relative', top: '20px', left: '93.7%', display: 'inline-block',verticalAlign: 'top'}" >
                                <table class="table_blur";>
                                    <tr>
                                        <td style="text-align: center;  padding-bottom: 20px;">
                                            <img  ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 20px;">
                                            <img  ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowHudmData')" ng-style="ImgHudmOpacity" ng-init="ShowHudmData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 20px;">
                                            <img  ng-mouseenter="ImgSlaveOpacity = {'opacity':'1'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowSlaveData')" ng-style="ImgSlaveOpacity" ng-init="ShowSlaveData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-class="NgAnimateClass" ng-if="ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'relative', top: '20px', left: '23.7%', display: 'inline-block',verticalAlign: 'top'}" >
                                <table class="table_blur";>
                                    <tr ng-if="ShowTempData">
                                        <td ng-if="ShowTempData" style="text-align: center;  padding-bottom: 20px;">
                                            <img ng-init="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-mouseenter="ImgTempOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>
                                        </td>
                                    </tr>
                                    <tr ng-if="!ShowTempData">
                                        <td ng-if="!ShowTempData" style="text-align: center;  padding-bottom: 20px;">
                                            <img ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>
                                        </td>
                                    </tr>
                                    <tr ng-if="ShowHudmData">
                                        <td ng-if="ShowHudmData" style="text-align: center;  padding-bottom: 20px;">
                                            <img ng-init="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseenter="ImgHudmOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>
                                        </td>
                                    </tr>
                                    <tr ng-if="!ShowHudmData">
                                        <td ng-if="!ShowHudmData" style="text-align: center;  padding-bottom: 20px;">
                                            <img ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowHudmData')" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr ng-if="ShowSlaveData">
                                        <td ng-if="ShowSlaveData" style="text-align: center;  padding-bottom: 20px;">
                                            <img ng-init="ImgSlaveOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseenter="ImgSlaveOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-style="ImgSlaveOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>
                                        </td>
                                    </tr>
                                    <tr ng-if="!ShowSlaveData">
                                        <td ng-if="!ShowSlaveData" style="text-align: center;  padding-bottom: 20px;">
                                            <img ng-mouseenter="ImgSlaveOpacity = {'opacity':'1'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowSlaveData')" ng-style="ImgSlaveOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;  padding-bottom: 20px;">
                                            <i ng-mouseenter="ImgCloseMenuOpacity = {'opacity':'1'}; NgAnimateClass = ''" ng-mouseleave="ImgCloseMenuOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowSenMenu'); ClickEvents.sensorsClickMenu = false;" ng-style="ImgCloseMenuOpacity" class="fa fa-arrow-circle-o-down  fa-3x fa-rotate-270" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--alarm menu component-->
                            <span ng-init="ImgTempOpacity = {'opacity':'0.6'}"></span>
                            <span ng-init="ImgHudmOpacity = {'opacity':'0.6'}"></span>
                            <span ng-init="ImgSlaveOpacity = {'opacity':'0.6'}"></span>
                            <!--<span ng-init="NgAnimateClass = 'animate-if'"></span>-->
                            <div ng-if="!ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'relative', top: '100px', left: '93.7%', display: 'inline-block',verticalAlign: 'top'}" >
                                <table class="table_blur";>
                                    <tr>
                                        <td style="text-align: center;  padding-bottom: 20px;">
                                            <img  ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 20px;">
                                            <img  ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowHudmData')" ng-style="ImgHudmOpacity" ng-init="ShowHudmData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 20px;">
                                            <img  ng-mouseenter="ImgSlaveOpacity = {'opacity':'1'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.6'}" ng-click="ProcessSensorsBtn($index, 'ShowSlaveData')" ng-style="ImgSlaveOpacity" ng-init="ShowSlaveData = true"  class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </article-rezin>

                        <!--<div ng-class="NgAnimateClass" ng-if="ClickEvents.sensorsClickMenu" ng-style="{color:'red',maxWidth:'60px',minHeight: '80px', position: 'relative', top: '20px', left: '23.7%', display: 'inline-block',verticalAlign: 'top'}" >-->
                        <!--<table class="table_blur";>-->
                        <!--<tr ng-if="ShowTempData">-->
                        <!--<td ng-if="ShowTempData" style="text-align: center;  padding-bottom: 20px;">-->
                        <!--<img ng-init="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-mouseenter="ImgTempOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'20px'}" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="!ShowTempData">-->
                        <!--<td ng-if="!ShowTempData" style="text-align: center;  padding-bottom: 20px;">-->
                        <!--<img ng-mouseenter="ImgTempOpacity = {'opacity':'1'}" ng-mouseleave="ImgTempOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowTempData')" ng-style="ImgTempOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-temp-48.png"></img>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="ShowHudmData">-->
                        <!--<td ng-if="ShowHudmData" style="text-align: center;  padding-bottom: 20px;">-->
                        <!--<img ng-init="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseenter="ImgHudmOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="!ShowHudmData">-->
                        <!--<td ng-if="!ShowHudmData" style="text-align: center;  padding-bottom: 20px;">-->
                        <!--<img ng-mouseenter="ImgHudmOpacity = {'opacity':'1'}" ng-mouseleave="ImgHudmOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowHudmData')" ng-style="ImgHudmOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-hudm-64.png"></img>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<tr ng-if="ShowSlaveData">-->
                        <!--<td ng-if="ShowSlaveData" style="text-align: center;  padding-bottom: 20px;">-->
                        <!--<img ng-init="ImgSlaveOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseenter="ImgSlaveOpacity = {'opacity':'1', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.8', 'backgroundColor':'#0E2F44', 'borderRadius':'10px'}" ng-style="ImgSlaveOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="!ShowSlaveData">-->
                        <!--<td ng-if="!ShowSlaveData" style="text-align: center;  padding-bottom: 20px;">-->
                        <!--<img ng-mouseenter="ImgSlaveOpacity = {'opacity':'1'}" ng-mouseleave="ImgSlaveOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowSlaveData')" ng-style="ImgSlaveOpacity" class="icon-3em" src="pure-css-accordion-nav/css/icon-cpu-64.png"></img>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td style="text-align: center;  padding-bottom: 20px;">-->
                        <!--<i ng-mouseenter="ImgCloseMenuOpacity = {'opacity':'1'}; NgAnimateClass = ''" ng-mouseleave="ImgCloseMenuOpacity = {'opacity':'0.6'}"  ng-click="ProcessSensorsBtn($index, 'ShowSenMenu'); ClickEvents.sensorsClickMenu = false;" ng-style="ImgCloseMenuOpacity" class="fa fa-arrow-circle-o-down  fa-3x fa-rotate-270" aria-hidden="true"></i>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--</table>-->
                        <!--</div>-->

                        <aside-rezin id="s_center">
                            <div ng-controller="GraphController">

                                <!--<button id="change-chart" >Change to Classic</button>-->

                                <!--<div class="containerGraph">-->
                                <!--style="width:50%;height:50%;margin:auto"-->
                                <!--<div style=" width:100%; height:20px; clear:both;"></div>-->

                                <span style="font-size: large; font-style: inherit; font-weight: 800; min-font-size: 18pt;">
                                <p ng-if="chart.HudmLoadBarVal == 0" style="text-align: center">Hudmunity Data is empty!</p>
                                <div ng-hide="chart.HudmLoadBar" id="myItem2"
                                     data-preset="line"
                                     class="ldBar label-center"
                                     style="width:50%;height:90%; margin: auto"
                                ></div>
                                <style type="text/css">
                              .ldBar-label {
                                  color: red;
                                  font-family: tahoma;
                                  font-size: 1.1em;
                                  font-weight: 100;
                                  font-align: right;
                                  padding-bottom: 10%;
                              }
                            </style>
                                    <!--<button id="button">Add series</button>-->
                                <div id='chart_div1' style="height: 100%; width: 100%"></div>

                                    <!--<p ng-if="chart.HudmLoadBar == true">Hudmunity Graph LOADING...!</p>-->
                            </span>


                                <!--<div id='chart_div1' class="leftGraph" style="width:500px; height:600px"></div>-->
                                <!--<div id='chart_div1' class="leftGraph" style="width:500px; height:600px"></div>-->
                                <!--</div>-->
                            </div>
                        </aside-rezin>
                        <!--<aside-rezin id="s_center">-->
                        <div ng-controller="GraphController">

                            <!--<button id="change-chart" >Change to Classic</button>-->

                            <!--<div class="containerGraph">-->
                            <div ng-bind="graphDyn()"></div>
                            <div ng-bind="graphDynTemp()"></div>
                            <!--<div style=" width:100%; height:20px; clear:both;"></div>-->

                            <!--<p style="font-size: large"> <div id='chart_div' class="rightGraph" style="width:800px; height:550px; font-style: inherit; font-weight: 800; min-font-size: 18pt;"></div> </p>-->
                            <!--<div id='chart_div' style="height: 500px; width: 100%"></div>-->
                            <!--<div id='chart_div' style="height: 500px; width: 755px"></div>-->
                            <!--<div id='chart_div1' class="leftGraph" style="width:500px; height:600px"></div>-->
                            <!--<div id='chart_div1' class="leftGraph" style="width:500px; height:600px"></div>-->
                            <!--</div>-->
                        </div>
                        <!--</aside-rezin>-->
                    </main-rezin>
                </div>
                <aside-rezin id="s_left">
            <span style="font-style:  italic; font-size: 14px; text-align: left;">{{message}}
                <span ng-if="serverConnected == true"  style="text-align: center"><img class="icon-2em" src="pure-css-accordion-nav/css/icon-ok-64.png"></span>
                <span ng-if="serverConnected == false" style="text-align: center"><img class="icon-3em" src="pure-css-accordion-nav/css/icon-error-64.png"></span>

                <input ng-model="hideAddInfo" type="checkbox" id="box-3">
                <label for="box-3">Show additional info</label>

            <span style="position: static; right: 50px; z-index: auto">
                <span style="position: static; right: 73px">
                    <p style="font-style: normal; font-size: 14px; position: static; right: -75px; top: 10px; margin-bottom: -4px">Delta Hudmunity</p>
                    <section class="containerBar4">
                        <input ng-click="processScaleBar($event, 'DeltaT05')" type="radio" class="radio4" name="progress4" value="five4" id="five4">
                        <label for="five4" class="label4">1%</label>
                        <input ng-click="processScaleBar($event, 'DeltaT1')" type="radio" class="radio4" name="progress4" value="twentyfive3" id="twentyfive4">
                        <label for="twentyfive4" class="label4">2%</label>
                        <input ng-click="processScaleBar($event, 'DeltaT15')" type="radio" class="radio4" name="progress4" value="fifty3" id="fifty4">
                        <label for="fifty4" class="label4">3%</label>
                        <input ng-click="processScaleBar($event, 'DeltaT2')" type="radio" class="radio4" name="progress4" value="seventyfive3" id="seventyfive4">
                        <label for="seventyfive4" class="label4">4%</label>
                        <input ng-click="processScaleBar($event, 'DeltaT25')" type="radio" class="radio4" name="progress4" value="onehundred3" id="onehundred4">
                        <label for="onehundred4" class="label4">5%</label>
                        <div class="progress4">
                            <div class="progress-bar4"></div>
                        </div>
                    </section>
                    <p style="font-style: normal; font-size: 14px; position: static; right: -75px; top: 10px; margin-bottom: -6px">Delta Temperature</p>
                    <section class="containerBar3">
                        <input ng-click="processScaleBar($event, 'DeltaT05')" type="radio" class="radio3" name="progress3" value="five3" id="five3">
                        <label for="five3" class="label3">0.5&#8451</label>
                        <input ng-click="processScaleBar($event, 'DeltaT1')" type="radio" class="radio3" name="progress3" value="twentyfive3" id="twentyfive3">
                        <label for="twentyfive3" class="label3">1&#8451</label>
                        <input ng-click="processScaleBar($event, 'DeltaT15')" type="radio" class="radio3" name="progress3" value="fifty3" id="fifty3">
                        <label for="fifty3" class="label3">1.5&#8451</label>
                        <input ng-click="processScaleBar($event, 'DeltaT2')" type="radio" class="radio3" name="progress3" value="seventyfive3" id="seventyfive3">
                        <label for="seventyfive3" class="label3">2&#8451</label>
                        <input ng-click="processScaleBar($event, 'DeltaT25')" type="radio" class="radio3" name="progress3" value="onehundred3" id="onehundred3">
                        <label for="onehundred3" class="label3">2.5&#8451</label>
                        <div class="progress3">
                            <div class="progress-bar3"></div>
                        </div>
                    </section>
                    <p style="font-style: normal; font-size: 14px; position: static; right: -75px; top: 10px; margin-bottom: -4px">Hudmunity Graph preload bar</p>
                    <section class="containerBar0">
                        <input ng-click="processScaleBar($event, 'HudmBar1Hour')" type="radio" class="radio" name="progress0" value="five" id="five">
                        <label for="five" class="label">1 Hour</label>
                        <input ng-click="processScaleBar($event, 'HudmBar6Hour')" type="radio" class="radio" name="progress0" value="twentyfive" id="twentyfive">
                        <label for="twentyfive" class="label">6 Hours</label>
                        <input ng-click="processScaleBar($event, 'HudmBar1Day')" type="radio" class="radio" name="progress0" value="fifty" id="fifty">
                        <label for="fifty" class="label">1 Day</label>
                        <input ng-click="processScaleBar($event, 'HudmBar1Week')" type="radio" class="radio" name="progress0" value="seventyfive" id="seventyfive">
                        <label for="seventyfive" class="label">1 Week</label>
                        <input ng-click="processScaleBar($event, 'HudmBar3Month')" type="radio" class="radio" name="progress0" value="onehundred" id="onehundred">
                        <label for="onehundred" class="label">3 Month</label>
                        <div class="progress0">
                            <div class="progress-bar0"></div>
                        </div>
                    </section>
                    <p style="font-style: normal; font-size: 14px; position: s; right: -75px; top: 10px; margin-bottom: -5px">Temperature Graph preload bar</p>
                    <section class="containerBar1">
                        <input ng-click="processScaleBar($event, 'TempBar1Hour')" type="radio" class="radio1" name="progress1" value="five1" id="five1">
                        <label for="five1" class="label1">1 Hour</label>
                        <input ng-click="processScaleBar($event, 'TempBar6Hour')" type="radio" class="radio1" name="progress1" value="twentyfive1" id="twentyfive1">
                        <label for="twentyfive1" class="label1">6 Hours</label>
                        <input ng-click="processScaleBar($event, 'TempBar1Day')" type="radio" class="radio1" name="progress1" value="fifty1" id="fifty1">
                        <label for="fifty1" class="label1">1 Day</label>
                        <input ng-click="processScaleBar($event, 'TempBar1Week')" type="radio" class="radio1" name="progress1" value="seventyfive1" id="seventyfive1">
                        <label for="seventyfive1" class="label1">1 Week</label>
                        <input ng-click="processScaleBar($event, 'TempBar3Month')" type="radio" class="radio1" name="progress1" value="onehundred1" id="onehundred1">
                        <label for="onehundred1" class="label1">3 Month</label>
                        <div class="progress1">
                            <div class="progress-bar1"></div>
                        </div>
                    </section>
                </span>
            </span>
            </span>
                </aside-rezin>


            </div>
        </div>

        <!--<footer-rezin>-->
        <!--<div class="maxw-rezin">-->
        <!--Футер1-->
        <!--</div>-->
        </footer-rezin>
        <!-- Материалы сайта prohtml.net
        при публикации наших материалов ссылка на источник обязательна -->
    </body-rezin>

</html-rezin>
