<html>
    <body ng-controller="UserpageController">
    <span style="font-style:  italic; font-size: 14px; text-align: left;">


        <!--<input ng-model="hideAddInfo" type="checkbox" id="box-3">-->
        <!--<label for="box-3">Show additional info</label>-->

            <!--<div style="position: static; right: 50px; z-index: auto;">-->
                <!--<span style="position: static; right: 73px">-->
                   <!--<br>-->
                    <!--<section class="containerBar4" style="float: left; margin-right: 0%; clear: both;">-->
                        <!--<div ng-if="globalVars.language=='Russian'" style="font-style: normal; font-size: 14px; position: relative; top: 2px; margin-bottom: -3px; right: 25%;">Допуск по влажности</div>-->
                        <!--<div ng-if="globalVars.language=='English'" style="font-style: normal; font-size: 14px; position: relative; top: 2px; margin-bottom: -3px; right: 30%;">Delta Hudmunity</div>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT05')" type="radio" class="radio4" name="progress4" value="five4" id="five4">-->
                        <!--<label for="five4" class="label4">1%</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT1')" type="radio" class="radio4" name="progress4" value="twentyfive3" id="twentyfive4">-->
                        <!--<label for="twentyfive4" class="label4">2%</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT15')" type="radio" class="radio4" name="progress4" value="fifty3" id="fifty4">-->
                        <!--<label for="fifty4" class="label4">3%</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT2')" type="radio" class="radio4" name="progress4" value="seventyfive3" id="seventyfive4">-->
                        <!--<label for="seventyfive4" class="label4">4%</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT25')" type="radio" class="radio4" name="progress4" value="onehundred3" id="onehundred4">-->
                        <!--<label for="onehundred4" class="label4">5%</label>-->
                        <!--<div class="progress4">-->
                            <!--<div class="progress-bar4"></div>-->
                        <!--</div>-->
                    <!--</section>-->
                    <!--<section class="containerBar3" style="float: left; margin-right: 0%; clear: both;">-->
                        <!--<div ng-if="globalVars.language == 'Russian'" style="font-style: normal; font-size: 14px; position: relative; top: 2px; margin-bottom: -3px; right: 23%;">Допуск по температуре</div>-->
                        <!--<div ng-if="globalVars.language == 'English'" style="font-style: normal; font-size: 14px; position: relative; top: 2px; margin-bottom: -3px; right: 28%;">Delta Temperature</div>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT05')" type="radio" class="radio3" name="progress3" value="five3" id="five3">-->
                        <!--<label for="five3" class="label3">0.5&#8451</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT1')" type="radio" class="radio3" name="progress3" value="twentyfive3" id="twentyfive3">-->
                        <!--<label for="twentyfive3" class="label3">1&#8451</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT15')" type="radio" class="radio3" name="progress3" value="fifty3" id="fifty3">-->
                        <!--<label for="fifty3" class="label3">1.5&#8451</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT2')" type="radio" class="radio3" name="progress3" value="seventyfive3" id="seventyfive3">-->
                        <!--<label for="seventyfive3" class="label3">2&#8451</label>-->
                        <!--<input ng-click="processScaleBar($event, 'DeltaT25')" type="radio" class="radio3" name="progress3" value="onehundred3" id="onehundred3">-->
                        <!--<label for="onehundred3" class="label3">2.5&#8451</label>-->
                        <!--<div class="progress3">-->
                            <!--<div class="progress-bar3"></div>-->
                        <!--</div>-->
                    <!--</section>-->
                    <!--&lt;!&ndash;<form ng-model="ggggg" name="myForm" ng-controller="UserpageController">&ndash;&gt;-->
                    <!--<section class="containerBar0" style="float: left; margin-right: 0; clear: both;">-->
                        <!--<div ng-if="globalVars.language == 'Russian'" style="font-style: normal; font-size: 14px; position: relative; right: 0px; top: 2px; margin-bottom: -3px; right: 15%;">Подгрузить данные влажности</div>-->
                        <!--<div ng-if="globalVars.language == 'English'" style="font-style: normal; font-size: 14px; position: relative; right: 0px; top: 2px; margin-bottom: -3px; right: 17%;">Hudmunity Graph preload bar</div>-->
                        <!--<input ng-click="processScaleBar($event, 'HudmBar1Hour')"  ng-checked="globalVars.processBar.hudm.HudmBar1Hour" type="radio" class="radio" name="progress0" value="five" id="five">-->
                        <!--<label for="five" class="label">1 Hour</label>-->
                        <!--<input ng-click="processScaleBar($event, 'HudmBar6Hour')"  ng-checked="globalVars.processBar.hudm.HudmBar6Hour" type="radio" class="radio" name="progress0" value="twentyfive" id="twentyfive">-->
                        <!--<label for="twentyfive" class="label">6 Hours</label>-->
                        <!--<input ng-click="processScaleBar($event, 'HudmBar1Day')"   ng-checked="globalVars.processBar.hudm.HudmBar1Day"  type="radio" class="radio" name="progress0" value="fifty" id="fifty">-->
                        <!--<label for="fifty" class="label">1 Day</label>-->
                        <!--<input ng-click="processScaleBar($event, 'HudmBar1Week')"  ng-checked="globalVars.processBar.hudm.HudmBar1Week"  type="radio" class="radio" name="progress0" value="onehundred" id="seventyfive">-->
                        <!--<label for="seventyfive" class="label">1 Week</label>-->
                        <!--<input ng-click="processScaleBar($event, 'HudmBar3Month')" ng-checked="globalVars.processBar.hudm.HudmBar3Month" type="radio"  class="radio" name="progress0" value="onehundred" id="onehundred">-->
                        <!--<label for="onehundred" class="label">3 Month</label>-->
                        <!--<div class="progress0">-->
                            <!--<div class="progress-bar0"></div>-->
                        <!--</div>-->
                    <!--</section>-->
                        <!--&lt;!&ndash;</form>&ndash;&gt;-->
                    <!--<section class="containerBar1" style="float: left; margin-right: 0%; clear: both;">-->
                        <!--<div ng-if="globalVars.language == 'Russian'" style="font-style: normal; font-size: 14px; position: relative; right: 0px; top: 2px; margin-bottom: -3px; right: 12%;">Подгрузить данные температуры</div>-->
                        <!--<div ng-if="globalVars.language == 'English'" style="font-style: normal; font-size: 14px; position: relative; right: 0px; top: 2px; margin-bottom: -3px; right: 15%;">Temperature Graph preload bar</div>-->
                        <!--<input ng-click="processScaleBar($event, 'TempBar1Hour')"  ng-checked="globalVars.processBar.temp.TempBar1Hour"  type="radio" class="radio1" name="progress1" value="five1" id="five1">-->
                        <!--<label for="five1" class="label1">1 Hour</label>-->
                        <!--<input ng-click="processScaleBar($event, 'TempBar6Hour')"  ng-checked="globalVars.processBar.temp.TempBar6Hour" type="radio" class="radio1" name="progress1" value="twentyfive1" id="twentyfive1">-->
                        <!--<label for="twentyfive1" class="label1">6 Hours</label>-->
                        <!--<input ng-click="processScaleBar($event, 'TempBar1Day')"   ng-checked="globalVars.processBar.temp.TempBar1Day" type="radio" class="radio1" name="progress1" value="fifty1" id="fifty1">-->
                        <!--<label for="fifty1" class="label1">1 Day</label>-->
                        <!--<input ng-click="processScaleBar($event, 'TempBar1Week')"  ng-checked="globalVars.processBar.temp.TempBar1Week" type="radio" class="radio1" name="progress1" value="seventyfive1" id="seventyfive1">-->
                        <!--<label for="seventyfive1" class="label1">1 Week</label>-->
                        <!--<input ng-click="processScaleBar($event, 'TempBar3Month')" ng-checked="globalVars.processBar.temp.TempBar3Month" type="radio" class="radio1" name="progress1" value="onehundred1" id="onehundred1">-->
                        <!--<label for="onehundred1" class="label1">3 Month</label>-->
                        <!--<div class="progress1">-->
                            <!--<div class="progress-bar1"></div>-->
                        <!--</div>-->
                    <!--</section>-->
                <!--</span>-->
            <!--</div>-->
            </span>
    <span style="font-size: large; font-style: inherit; font-weight: 800; font-size: 16px;">
        <!--<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>-->
        <span ng-if="globalVars.language == 'Russian'">
            <div ng-if="chart.HudmLoadBarVal == 0" style="position: relative; margin-left: 40%;">Нет данных!</div>
        </span>
        <span ng-if="globalVars.language == 'English'">
            <div ng-if="chart.HudmLoadBarVal == 0" style="position: relative; margin-left: 40%;">Data is empty!</div>
        </span>
            <div ng-hide="chart.HudmLoadBar" id="myItem2"
                 data-preset="line"
                 class="ldBar label-center"
                 style="width:50%;height:90%; margin: auto"
            ></div>
            <style type="text/css">
              .ldBar-label {
                  color: red;
                  font-family: tahoma;
                  font-size: 1.1em;
                  font-weight: 100;
                  font-align: right;
                  padding-bottom: 10%;
              }
            </style>
        </span>

        <div id='chart_div1'></div>

    </body>
</html>