.left-menu
  .logo
    i.fa.fa-align-justify
    div Pure CSS Accordion Nav
  .accordion
    .section
      input(type='radio' name='accordion-1' id='section-1' checked)
      label(for='section-1')
        span Messages
      .content
        ul
          li
            i.fa.fa-inbox
            span Inbox
          li
            i.fa.fa-share
            span Sent    
          li
            i.fa.fa-archive
            span Archive
    .section
      input(type='radio' name='accordion-1' id='section-2' value='toggle')
      label(for='section-2') 
        span Usage
      .content
        ul
          li
            i.fa.fa-cog
            span System
          li
            i.fa.fa-group
            span Users    
          li
            i.fa.fa-sitemap
            span Visitation
    .section
      input(type='radio' name='accordion-1' id='section-3' value='toggle')
      label(for='section-3') 
        span Scroller
      .content
        ul
          li
            i.fa.fa-coffee
            span Need Coffee
          li
            i.fa.fa-coffee
            span Need Coffee    
          li
            i.fa.fa-coffee
            span Need Coffee
          li
            i.fa.fa-coffee
            span Need Coffee
          li
            i.fa.fa-coffee
            span Need Coffee    
          li
            i.fa.fa-coffee
            span Need Coffee
          li
            i.fa.fa-coffee
            span Need Coffee
          li
            i.fa.fa-coffee
            span Need Coffee    
          li
            i.fa.fa-coffee
            span Need Coffee
    .section
      input(type='radio' name='accordion-1' id='section-4' value='toggle')
      label(for='section-4') 
        span Section 4
      .content