<!DOCTYPE html>
<html xmlns:>
<head>
  <meta charset="utf-8">
  <title>My App</title>

</head>
<body ng-app="myApp" ng-controller="MainController as ctrl">

<!-- Sidebars -->
<div class="sidebar sidebar-left">
  <div class="scrollable">
    <h1 ng-if="globalVars.language=='Russian'" class="scrollable-header app-name">Управление</h1>
    <h1 ng-if="globalVars.language=='English'" class="scrollable-header app-name">Control</h1>
    <div class="scrollable-content">
      <div class="list-group" ui-turn-on='uiSidebarLeft'>
        <div ui-view="sidebarLeft"> </div>
        <!--<sensors-table-template ></sensors-table-template>-->
      </div>
    </div>
  </div>
</div>

<!--<Правая >-->
<div class="sidebar sidebar-right">
  <div class="scrollable">
    <h1 class="scrollable-header app-name">Меню</h1>
    <div class="scrollable-content">
      <div ng-if="globalVars.language == 'Russian'" class="list-group">
        <a class="list-group-item" ui-sref="Graph">График
          <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" ui-sref="History">История
          <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" ui-sref="Sensors">Датчики
          <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" ui-sref="Settings">Настройки
          <i class="fa fa-chevron-right pull-right"></i></a>
      </div>
      <div ng-if="globalVars.language == 'English'" class="list-group">
        <a class="list-group-item" ui-sref="Graph">Graph
          <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" ui-sref="History">History
          <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" ui-sref="Sensors">Sensors
          <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" ui-sref="Settings">Settings
          <i class="fa fa-chevron-right pull-right"></i></a>
      </div>
    </div>
  </div>
</div>



<div class="app">

  <!--<Верхняя панелька>-->
  <div class="navbar navbar-app navbar-absolute-top"><!-- Top Navbar -->
    <h3 style="position: absolute; margin-top: 18px; float: left; margin-left: 15%">
      <div ui-view="PageHeader"> </div>
      <!--<div ng-if="globalVars.language=='Russian'">График </div>-->
      <!--<div ng-if="globalVars.language=='English'">Graph </div>-->
    </h3>

    <!--<Менюшка свёрнута>-->
    <div class="btn-group pull-left">
      <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-tachometer fa-4x" aria-hidden="true"></i>
      </div>
    </div>

    <!--<Менюшка развёрнута>-->
    <div class="btn-group pull-right">
      <span ui-outer-click-if="Ui.turnOff('uiSidebarRight') "></span>
      <span ng-init="Ui.turnOn('uiSidebarRight')"></span>
      <span ng-if="Ui.get('uiSidebarRight')">
          <div ng-click="Ui.turnOff('uiSidebarRight')" class="btn btn-group">
              <i class="fa fa-bars fa-4x"></i>
          </div>
      </span>
      <span ng-if="!Ui.get('uiSidebarRight')">
          <span ui-outer-click="Ui.turnOff('uiSidebarRight')"></span>
          <div ng-click="Ui.turnOn('uiSidebarRight')" class="btn btn-group">
              <i class="fa fa-bars fa-4x"></i>
          </div>
      </span>
    </div>
    <!--<Кнопочка языка>-->
    <span style="float: right; margin-right: 20px; margin-top: 15px;">
      <span ng-if="globalVars.language == 'English'">
          <div >
            <i ng-mousedown="changeLangInComponents(true)" ng-click="globalVars.language = 'Russian'" ng-mouseenter="globalVars.showLangComment = true" ng-mouseleave="globalVars.showLangComment = false" class="fa fa-language fa-2x" style="margin-right: 20px;"></i>
          </div>
      </span>
      <span ng-if="globalVars.language == 'Russian'">
            <i ng-mousedown="changeLangInComponents(true)" ng-click="globalVars.language = 'English'" ng-mouseenter="globalVars.showLangComment = true" ng-mouseleave="globalVars.showLangComment = false" class="fa fa-language fa-2x" style="margin-right: 20px;"></i>
      </span>
      <div ng-if="globalVars.showLangComment" style="position: absolute; bottom: 40%; right: 140px; transition: 0.2s;">
        <span ng-if="globalVars.language == 'Russian'" style="border:1px #00aaff solid; width:100px;">RUS</span>
        <span ng-if="globalVars.language == 'English'" style="border:1px #00aaff solid; width:100px;">EN</span>
      </div>
    </span>
  </div>

  <div class="navbar navbar-app navbar-absolute-bottom"><!-- Bottom Navbar -->
    <span style="font-style:  italic; font-size: 14px; text-align: left;">{{message}}</span>
        <span ng-if="serverConnected == true"  style="text-align: center"><i class="fa fa-check-circle-o fa-1x"></i></span>
        <span ng-if="serverConnected == false" style="text-align: center"><i class="fa fa-check-circle-o fa-1x"></i></span>
  </div>

  <!-- App body -->

  <div class='app-body'>
    <div class='app-content' style="height: 100%; width: 100%; overflow: auto; display: block;">
      <!--<br>-->
      <div ui-view="body"> </div>
      <!--<div ui-view> </div>-->
      <!--<div ui-view="GraphA"> </div>-->
      <!--<div class="panel-group" ui-state="myAccordion" ui-default="2" style="padding-top: 3%">-->
        <!--<div class="panel panel-default" ng-repeat="i in [1,2,3]">-->
          <!--<div class="panel-heading" ui-set="{'myAccordion': i}">-->
            <!--<h4 class="panel-title">-->
              <!--Collapsible Group Item #{{i}}-->
            <!---->
            <!--</h4>-->
          <!--</div>-->
          <!--<div ui-if="myAccordion == {{i}}">-->
            <!--<div class="panel-body">-->
              <!--{{lorem}}-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--  <ng-view>body</ng-view>-->
      </div>
    </div>
  </div><!-- ~ .app -->

<!-- Modals and Overlays -->
<div ui-yield-to="modals">

</div>
</body>
</html>