<!DOCTYPE html>
 <head>
        <meta charset="utf-8">
        <title>
            Log
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--<link rel="stylesheet" href="pure-css-accordion-nav/css/style.css" type="text/css">-->
        <!--<link rel="stylesheet" href="pure-css-accordion-nav/css/rezin.css" type="text/css">-->
        <!--<link rel="stylesheet" href="css/checkbox.css">-->
        <link rel="stylesheet" type="text/css" href="pure-css-accordion-nav/css/loading-bar/loading-bar.css"/>
        <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
        <script type="text/javascript" src="pure-css-accordion-nav/css/loading-bar/loading-bar.js"></script>
    </head>

    <body ng-controller="MainController as ctrl">
        <div style="height: 100%; width: 100%; overflow: auto; display: block; font-size: 13px;">
            <br>
            <!--LOG request-->
            <div ng-if="globalVars.sensorsFinal.length != 0">
                <log-table message="message()" logtable = 'ctrl.globalVars.sensorsFinal', data = 'ctrl.scope.globalVars.broodLog', tableParams = 'ctrl.scope.tableParams', photo = 'ctrl.photo', scope = 'ctrl.scope'></log-table>
            </div>
            <!--LOG table hudmLog end-->
            <br>
        </div>
    </body>