<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="css/sensor-table.css">-->
    <!--<script src="css/sensor-table.css"></script>-->
    <!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <div ng-controller="UserpageController">
        <div ng-show="false">
            <table class="table_blur">
                <tr>
                    <th>Sensor</th>
                    <th>Master Station ID</th>
                    <th>Slave Station ID</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>last upDate</th>
                    <th>last upTime</th>
                </tr>
                <tr ng-repeat="sensor in sensorsAvailable">
                    <td>{{sensor.MASTER_ID}}</td>
                    <td>Цена: {{sensor.Date}} $</td>
                    <td>Производитель: {{sensor.Type}}</td>
                </tr>
            </table>
        </div>
        <table class="table_blur">

            <tr>
                <th style="text-align: center">Master Station ID</th>
                <th style="text-align: center">Slave Station ID</th>
                <th style="text-align: center">Relay №</th>
                <th style="text-align: center">Status</th>
                <th style="text-align: center">last upDate</th>
                <th style="text-align: center">last upTime</th>
                <th style="text-align: center"><span style="align-items: center; margin-right: auto">Username</span></th>
                <th style="text-align: center">Change Status</th>
            </tr>
            <tr ng-repeat="relay in relaysAvailable">
                <td style="text-align: center">{{relay.MASTER_ID}}</td>
                <td style="text-align: center">{{relay.Slave_ID}}</td>
                <td style="text-align: center">{{relay.Address}} </td>
                <td ng-if="!checkRelayState($index)" style="background-color: red; font-weight: 600; text-align: center">{{relay.Value}}</td>
                <td ng-if="checkRelayState($index)" style="background-color: greenyellow; font-weight: 600; text-align: center">{{relay.Value}}</td>
                <td style="text-align: center">{{relay.Date | date}}</td>
                <td style="font-style: italic; text-align: center">{{relay.Time}}</td>
                <td>
                    <p class="fig" style="font-size: large">{{relay.Username}}</p>
                    <form style="text-align: center">
                        <input type="text"  placeholder="new relay's name" size="20" maxlength="20" ng-model="relayUserName">
                        <button ng-click="RelayUsernameSetClick($index, relayUserName)">
                            <i class="glyphicon glyphicon-play"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form style="text-align: center">
                        <button class="button" ng-click="RelayUsernameChangeStatus($index)">
                            <i class="glyphicon glyphicon-play"></i>
                        </button>
                    </form>
                </td>
            </tr>

            <!--<p class="fig" style="font-size: large" > {{ relayUserName() }} {{$index}}</p>-->
        </table>
        <!--<p class="fig"> {{ relayUserName }} </p>-->
        <!--<table class="table_blur">-->
        <!--<div class="table_blur" ng-repeat="sensor in sensorsAvailable">-->
        <!--<p>{{sensor.Date}}</p>-->
        <!--<p>Цена: {{sensor.Type}} $</p>-->
        <!--<p>Производитель: {{sensor.MASTER_ID}}</p>-->
        <!--</div>-->
        <!--</table>-->

    </div>
</head>
</html>





<!--<table class="table_blur">-->
<!--<tr>-->
<!--<th>Sensor</th>-->
<!--<th>Master Station ID</th>-->
<!--<th>Slave Station Address</th>-->
<!--<th>Type</th>-->
<!--<th>Value</th>-->
<!--<th>Date</th>-->
<!--<th>Time</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Username</td>-->
<!--<td>20.3</td>-->
<!--<td>30.5</td>-->
<!--<td>23.5</td>-->
<!--<td>40.3</td>-->
<!--<td>23.5</td>-->
<!--<td>40.3</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Username</td>-->
<!--<td>50.2</td>-->
<!--<td>40.63</td>-->
<!--<td>45.23</td>-->
<!--<td>39.3</td>-->
<!--<td>23.5</td>-->
<!--<td>40.3</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Username</td>-->
<!--<td>25.4</td>-->
<!--<td>30.2</td>-->
<!--<td>33.3</td>-->
<!--<td>36.7</td>-->
<!--<td>23.5</td>-->
<!--<td>40.3</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Username</td>-->
<!--<td>20.4</td>-->
<!--<td>15.6</td>-->
<!--<td>22.3</td>-->
<!--<td>29.3</td>-->
<!--<td>23.5</td>-->
<!--<td>40.3</td>-->
<!--</tr>-->
<!--</table>-->