<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>settingBkmTemplateHeader</title>
    <div ng-if="globalVars.language=='Russian'">Настройки </div>
    <div ng-if="globalVars.language=='English'">Settings </div>
</head>
<body>

</body>
</html>